<div class="offcanvas-menu offcanvas-effect">
    <div class="offcanvas-wrap">
        <div class="off-canvas-header">
            <button type="button" class="close" aria-hidden="true" data-toggle="offcanvas" id="off-canvas-close-btn">&times;</button>
        </div>
        <ul id="offcanvasMenu" class="list-unstyled visible-xs visible-sm">
            <li><a href="/BaivietMVC/Index">Quản lý bài viết</a></li>
            <li><a href="/Services/Index">Quản lý dịch vụ</a></li>
            <li><a href="/Product/Index">Quản lý sản phẩm</a></li>
            <li><a href="/Orther_Slide/Index">Quản lý slide</a></li>
            <li><a href="/Chatbox/Index">Quản lý tin nhắn khách hàng</a></li>
            <li><a href="/Account/user">Quản lý người dùng</a></li>

        </ul>
        <div class="offcanvas-widgets hidden-sm hidden-xs">

            <div class="newsletter-widget">
                <h2>Để lại thông tin của bạn</h2>
                <p>Nhập địa chỉ Email của bạn để nhận thông tin từ chúng tôi</p>

                <form class="newsletter-form">
                    <div class="row">
                        <div class="form-group">
                            <label class="sr-only" for="InputEmail1">Địa chỉ Email</label>
                            <input type="email" class="form-control col-sm-9" id="InputEmail2" placeholder="Email của bạn">
                            <button type="button" class="btn col-sm-3">Gửi &nbsp;<i class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div><!-- .offcanvas-menu -->
</div>
