<div class="box-dialog page-login-box" ng-controller="LoginController">
    <div class="container">
        <div class="row">

            <!-- form sign in-->
            <div class="col-sm-10 form-signin-user">
                <div>
                    <h2>
                        Đăng nhập @Session["username"]
                    </h2>
                </div>
                <div class="btn-close">
                    <button id="btn-close"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" value="" placeholder="Username" ng-model="user.UserName" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" ng-model="user.passwordHash" />
                    <div>
                        <input type="checkbox" /> Luôn đăng nhập
                        <span style="text-align:right; float:right;">
                            <a href="#">Quên mật khẩu?</a>
                        </span>

                    </div>
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-signin" value="Đăng nhập" ng-click="Login()" />
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    app.controller("LoginController", function ($scope, $http) {
        
       

        //for (var i = 0; i < vm.length; i++) {
        //    var p = vm[i];
        //    p["z1"] = "z2";
        //    console.log(vm[i]["p1"]);
        //}

        $scope.message = "ok";
        $scope.Username = null;
        $scope.Password = null;
        $scope.list = null;
        debugger;
        $scope.Login = function () {
           
            $http({
                url: '/Test/Login',
                method:"POST",
                data:$scope.user
            })
                    .success(function (data) {
                        debugger;
                        if (data != 0) {
                            window.location.href = "/Home/Index";
                        } else {
                            console.log("tai khoan hoac mat khau khong chinh xacs");
                        }
                        
                    }).error(function(error){
                        console.log('error log' + error);
        })
            
        }
   
    })
</script>