<section class="page-title-section white-arrow">
    <div class="container">
        <div class="page-header">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="breadcrumb-mb">
            <span>
                <a href="#" style="color:#fff;">Trang chủ </a>
                &nbsp;
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                &nbsp;
                Sản phẩm
            </span>
        </div>
    </div>
</section>

