﻿<section class="footer">

    <div class="address-links-social-wrapper-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="address-contact-footer">
                        <div class="title-contact-footer">
                            Contacts Us
                        </div>
                        <div>
                            ADDRESS: 36D Dich Vong Hậu street, Cau Giay District, Ha Noi ,Viet Nam
                        </div>
                        <div>
                            PHONE: +8424 3200 8350
                        </div>
                        <div>
                            E-MAIL: reservation@inearthhotel.com
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-item-footer">
                        <ul>
                            <li class="link-social-item"><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                            <li class="link-social-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li class="link-social-item"><a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
                            <li class="link-social-item"><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="links-item-footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="links-item-footer">
                    <div>
                        <ul>
                            <li class="link-item"><a href="#">Home</a></li>
                            <li class="link-item"><a href="#">About Us</a></li>
                            <li class="link-item"><a href="#">Photo Gallery</a></li>
                            <li class="link-item"><a href="#">Location</a></li>
                            <li class="link-item"><a href="#">Privacy Policy</a></li>
                            <li class="link-item"><a href="#">Terms & Conditions</a></li>
                            <li class="link-item last"><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="copyright">
                        <p>
                            Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017. InEarth Hotel Hanoi. All rights reserved.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>


</section>

