﻿<section class="footer-widget-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="footer-widget">
                    <h3 style="font-size:22px;">Về chúng tôi</h3>
                    <p>
                        Liên hệ
                    </p>
                    <br>

                    <address>
                        <strong>+8495996555</strong>
                        <br>
                        <span>email@gmail.com</span>
                        <br>
                        <br>
                        <span class="map-marker">Địa chỉ <br> 23 Cầu giấy Hà nội</span>
                    </address>


                </div><!-- /.footer-widget -->
            </div><!-- /.col-sm-4 -->

            <div class="col-sm-4">
                <div class="footer-widget">
                    <h3  style="font-size:22px;">Thông tin</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="quick-links">
                                <li><a href="/Home/Index">Trang chủ</a></li>
                                <li><a href="/Home/Introduce">Giới thiệu</a></li>
                                <li><a href="/Product/services">Dịch vụ</a></li>
                                <li><a href="/Home/Utility">Tiện ích</a></li>
                                <li><a href="/Home/Event">Sự kiện</a></li>
                                <li><a href="/Home/Tamnhin">Tin tức</a></li>
                                <li><a href="/Home/Nha_dau_tu">Nhà đầu tư</a></li>
                                <li><a href="/Home/recruit">Tuyển dụng</a></li>


                            </ul>
                        </div>

                    </div>
                </div><!-- /.footer-widget -->
            </div><!-- /.col-md-4 -->

            <div class="col-sm-4">
                <div class="footer-widget">
                    <h3  style="font-size:22px;">Để lại thông tin của bạn</h3>
                    <p>Nhập địa chỉ Email của bạn để nhận thông tin từ chúng tôi</p>

                    <form class="newsletter-form">
                        <div class="form-group">
                            <label class="sr-only" for="InputEmail1">Địa chỉ Email</label>
                            <input type="email" class="form-control" id="InputEmail1" placeholder="Email của bạn">
                            <button type="submit" class="btn">Gửi &nbsp;<i class="fa fa-angle-right"></i></button>
                        </div>
                    </form>
                    <ul class="social-links list-inline">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div><!-- /.footer-widget -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

