
@{
    ViewBag.Title = "Bảng giá";
}

@{
    var userName = HttpContext.Current.User.Identity.Name;
}

@Html.Partial("~/Views/Shared/pages/page_title_section/page_title_section.cshtml")

<section class="sortby-wrapper breadcrumb-wrapper">

    <div class="breadcrumb-wrapper">
        <span>
            <a href="#">Trang chủ </a>
            &nbsp;
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            &nbsp;
            @ViewBag.Title
        </span>
    </div>

</section>


<section class="container">
    @Html.Partial("~/Views/Price/popupPrice.cshtml")
    <div class="page-wrapper page-list-price">
        <div class="list-price">
            <fieldset>
                <legend style="position:relative;">
                    <span style="text-align:left;">
                        <h3>
                            Dịch vụ
                        </h3>
                    </span>
                    @if (!String.IsNullOrEmpty(userName))
                    {


                        <span style="text-align:right; position:absolute; right:0; bottom:0;">
                            <h4>
                                <a href="#" class="btn-show-popup">Thêm mới</a>
                            </h4>
                        </span>
                    }
                </legend>
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <td>STT</td>
                            <td>Tên dịch vụ</td>
                            <td>Đơn vị tính</td>
                            <td>Đơn giá (VND)</td>
                            <td>Mô tả</td>
                            @if (!String.IsNullOrEmpty(userName))
                            {
                                <td>Chức năng</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#23232</td>
                            <td>Điện</td>
                            <td>Số điện x Đơn giá</td>
                            <td>5000</td>
                            <td>Mô tả</td>
                            @if (!String.IsNullOrEmpty(userName))
                            {

                                <td>
                                    <a href="/Price/addNewListPrice" class="btn btn-edit"><i class="fa fa-edit"></i></a>

                                    <button class="btn btn-remove"><i class="fa fa-remove"></i></button>

                                </td>
                            }
                        </tr>
                        <tr>
                            <td>#23233</td>
                            <td>Nước</td>
                            <td>Số nước x Đơn giá</td>
                            <td>25000</td>
                            <td>Mô tả</td>
                            @if (!String.IsNullOrEmpty(userName))
                            {

                                <td>
                                    <a href="/Price/addNewListPrice" class="btn btn-edit"><i class="fa fa-edit"></i></a>

                                    <button class="btn btn-remove"><i class="fa fa-remove"></i></button>

                                </td>
                            }
                        </tr>
                        <tr>
                            <td>#23234</td>
                            <td>Tivi</td>
                            <td>Tính theo tháng x số ti vi</td>
                            <td>200000</td>
                            <td>Mô tả</td>
                            @if (!String.IsNullOrEmpty(userName))
                            {

                                <td>
                                    <a href="/Price/addNewListPrice" class="btn btn-edit"><i class="fa fa-edit"></i></a>

                                    <button class="btn btn-remove"><i class="fa fa-remove"></i></button>

                                </td>
                            }
                        </tr>
                        <tr>
                            <td>#23235</td>
                            <td>Thang máy</td>
                            <td>Tính theo tháng x số người</td>
                            <td>100000</td>
                            <td>Mô tả</td>
                            @if (!String.IsNullOrEmpty(userName))
                            {
                                <td>
                                    <a href="/Price/addNewListPrice" class="btn btn-edit"><i class="fa fa-edit"></i></a>

                                    <button class="btn btn-remove"><i class="fa fa-remove"></i></button>

                                </td>
                            }
                        </tr>
                        <tr>
                            <td>#23235</td>
                            <td>Dịch vụ chung</td>
                            <td>Tính theo tháng x số người</td>
                            <td>70000</td>
                            <td>Mô tả</td>
                            @if (!String.IsNullOrEmpty(userName))
                            {

                                <td>
                                    <a href="/Price/addNewListPrice" class="btn btn-edit"><i class="fa fa-edit"></i></a>

                                    <button class="btn btn-remove"><i class="fa fa-remove"></i></button>

                                </td>
                            }
                        </tr>
                        <tr>
                            <td>#23235</td>
                            <td>Gửi xe</td>
                            <td>Tính theo tháng x số lượng xe</td>
                            <td>100000</td>
                            <td>Mô tả</td>
                            @if (!String.IsNullOrEmpty(userName))
                            {

                                <td>
                                    <a href="/Price/addNewListPrice" class="btn btn-edit"><i class="fa fa-edit"></i></a>

                                    <button class="btn btn-remove"><i class="fa fa-remove"></i></button>

                                </td>
                            }
                        </tr>
                        <tr>
                            <td>#23235</td>
                            <td>mạng</td>
                            <td>Tính theo tháng x số người</td>
                            <td>200000</td>
                            <td>Mô tả</td>
                            @if (!String.IsNullOrEmpty(userName))
                            {
                                <td>
                                    <a href="/Price/addNewListPrice" class="btn btn-edit"><i class="fa fa-edit"></i></a>

                                    <button class="btn btn-remove"><i class="fa fa-remove"></i></button>

                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            <fieldset>
                <legend style="position:relative;">
                    <span style="text-align:left;">
                        <h3>
                            Phòng
                        </h3>
                    </span>
                    <span style="text-align:right; position:absolute; right:0; bottom:0;">
                        <h4>
                            <a href="/Price/addNewListPrice">Thêm mới</a>
                        </h4>
                    </span>

                </legend>
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <td>STT</td>
                            <td>Tên dịch vụ</td>
                            <td>Đơn vị tính</td>
                            <td>Đơn giá (VND)</td>
                            <td style="width:200px;">Mô tả</td>
                            @if (!String.IsNullOrEmpty(userName))
                            {

                                <td>Chức năng</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#23232</td>
                            <td>Tiền thuê phòng</td>
                            <td>Tính theo tháng x số phòng</td>
                            <td>500000</td>
                            <td>Mô tả</td>
                            @if (!String.IsNullOrEmpty(userName))
                            {
                                <td>
                                    <a href="/Price/addNewListPrice" class="btn btn-edit"><i class="fa fa-edit"></i></a>

                                    <button class="btn btn-remove"><i class="fa fa-remove"></i></button>

                                </td>
                            }
                        </tr>

                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</section>

<script src="~/Scripts/dirPagination.js"></script>
<script src="~/Scripts/jquery/dialog.js"></script>

