<div class="container breadcrumb">
    <span>
        <a href="#">
            Trang chủ
        </a>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        @ViewBag.Title
    </span>
</div>

