<div class="breadcrumb">
    <span>
        <a href="/Home/Index">
            Trang chủ
        </a>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        @ViewBag.Title
    </span>
</div>

