
@{
    ViewBag.Title = "Index";
}

<div id="content" ng-controller="Orther_Slide">
    <h2>Orther_Slide</h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Image Title</th>r
            <th>Image URL</th>
            <th>Image Link</th>
            <th>Image Order</th>
            <th>Enable</th>
            <th>Slide Type</th>
            <th>Language</th>
            <th>Action</th>
        </tr>
        <tr>
            <td></td>
            <td><input type="text" class="form-control" ng-model="CreateItem.Image_Title" /></td>
            <td><input type="text" class="form-control" ng-model="CreateItem.Image_URL" /></td>
            <td><input type="text" class="form-control" ng-model="CreateItem.Image_Link" /></td>
            <td><input type="text" class="form-control" ng-model="CreateItem.Image_Orde" /></td>
            <td><input type="checkbox" class="form-control" ng-model="CreateItem.Enable" /></td>
            <td><input type="text" class="form-control" ng-model="CreateItem.Slide_Type" /></td>
            <td><input type="text" class="form-control" ng-model="CreateItem.Language" /></td>
            <td><input type="button" class="btn" value="Thêm" ng-click="onCreateSlide()" /></td>
        </tr>
        <tr ng-repeat="Item in ListSlide">
            <td>{{Item.Tbl_Id}}</td>
            <td>
                <div ng-show="getStatusSlide(Item.Tbl_Id)">
                    {{Item.Image_Title}}
                </div>
                <input class="form-control" type="text" ng-hide="getStatusSlide(Item.Tbl_Id)" ng-model="Item.Image_Title" />
            </td>
            <td>
                <div ng-show="getStatusSlide(Item.Tbl_Id)">
                    {{Item.Image_URL}}
                </div>
                <input class="form-control" type="text" ng-hide="getStatusSlide(Item.Tbl_Id)" ng-model="Item.Image_URL" />
            </td>
            <td>
                <div ng-show="getStatusSlide(Item.Tbl_Id)">
                    {{Item.Image_Link}}
                </div>
                <input class="form-control" type="text" ng-hide="getStatusSlide(Item.Tbl_Id)" ng-model="Item.Image_Link" />
            </td>
            <td>
                <div ng-show="getStatusSlide(Item.Tbl_Id)">
                    {{Item.Image_Orde}}
                </div>
                <input class="form-control" type="text" ng-hide="getStatusSlide(Item.Tbl_Id)" ng-model="Item.Image_Orde" />
            </td>
            <td>
                <input class="form-control" type="checkbox" ng-disabled="getStatusSlide(Item.Tbl_Id)" ng-model="Item.Enable" />
            </td>
            <td>
                <div ng-show="getStatusSlide(Item.Tbl_Id)">
                    {{Item.Slide_Type}}
                </div>
                <input class="form-control" type="text" ng-hide="getStatusSlide(Item.Tbl_Id)" ng-model="Item.Slide_Type" />
            </td>
            <td>
                <div ng-show="getStatusSlide(Item.Tbl_Id)">
                    {{Item.Language}}
                </div>
                <input class="form-control" type="text" ng-hide="getStatusSlide(Item.Tbl_Id)" ng-model="Item.Language" />
            </td>
            <td>
                <div class="btn-group">
                    <input ng-show="getStatusSlide(Item.Tbl_Id)" type="button" class="btn btn-group-vertical" ng-click="onEditSlide(Item.Tbl_Id)" value="Sửa" />
                    <input ng-hide="getStatusSlide(Item.Tbl_Id)" type="button" class="btn btn-group-vertical"" ng-click="onSaveSlide(Item)" value="Lưu" />
                    <input ng-hide="getStatusSlide(Item.Tbl_Id)" type="button" class="btn btn-group-vertical"" ng-click="onCancelSlide()" value="Hủy" />
                    <input ng-show="getStatusSlide(Item.Tbl_Id)" type="button" class="btn btn-group-vertical"" ng-click="onDeleteSlide(Item.Tbl_Id)" value="Xóa" />
                </div>
            </td>
        </tr>

    </table>
</div>

@section JavaScript{


    <script src="~/Scripts/Controller/Orther_Slide/Orther_Slide.js"></script>
}
