<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="MachineSpecificConfigs">
      <section name="SAPLE-MACHINE-NAME" type=" App.Configuration.MachineConfigSectionType,  App.Configuration"/>
      <section name="TienTD-PC" type=" App.Configuration.MachineConfigSectionType,  App.Configuration"/>
    </sectionGroup>
  </configSections>
  <MachineSpecificConfigs>
    <TienTD-PC>
      <ConnectionString value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=NerahomeWeb;MultipleActiveResultSets=True;" />
    </TienTD-PC>
  </MachineSpecificConfigs>
</configuration>
