

@{
    ViewBag.Title = "CreateSlide";
}

<h2>CreateSlide</h2>
<div ng-controller="Post_SlideCtr">

    <div id="content" class="container">
        <div ng-class="result">{{message}}<h2>{{Item}}</h2></div>
        <hr />
        <input type="hidden" ng-model="Item.Post_Id" />
        <input type="hidden" ng-model="Item.Tbl_Id" />
        <input type="hidden" ng-model="Item.Image_Title" />
        <input type="hidden" ng-model="Item.Image_URL" />
        <input type="hidden" ng-model="Item.Image_Link" />
        <input type="hidden" ng-model="Item.Image_Order" />
        <input type="hidden" ng-model="Item.Enable" />
        <input type="hidden" ng-model="Item.Language" />
        <h2>Slide</h2>
        <table class="table table-striped">
            <tr>
                <td>Post_Id</td>
                <td><input type="text" ng-model="Item.Post_Id" /></td>
                <td>Tbl_Id</td>
                <td><input type="text" ng-model="Item.Tbl_Id" /></td>
            <tr>
                <td>Image_Title</td>
                <td><input type="text" ng-model="Item.Image_Title" /></td>
                <td>Image_URL"</td>
                <td><input type="text" ng-model="Item.Image_URL" /></td>
            <tr>
                <td>Image_Link</td>
                <td><input type="text" ng-model="Item.Image_Link" /></td>
                <td>Image_Order</td>
                <td><input type="text" ng-model="Item.Image_Order" /></td>
            </tr>
            <tr>
                <td>Enable</td>
                <td><input type="checkbox" ng-model="Item.Enable" /></td>
                <td>Language</td>
                <td><input type="text" ng-model="Item.Language" /></td>
                <td></td>
                <td></td>
            </tr>

        </table>
        <input type="button" value="Save" ng-click="Create()" />
    </div>
</div>
@section JavaScript{

    <script src="~/Scripts/Controller/Post_Slide/CreateSelide.js"></script>

    }
