
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Index";
}

@section jsFooter{
    <script>
        $(document).ready(function () {
            $('#btnselect').on('click', function (e) {
                e.preventDefault();
                var finder = new CKFinder();

                finder.selectActionFunction = function (url) {
                    $('#txtPost_content').val(url);
                };
                finder.popup();

            })

        })


    </script>
}



<section class="container">
    <div id="content" ng-controller="PostSlide">
        @Html.Partial("~/Views/Post_Slide/popupPostSlide.cshtml")

        <fieldset>
            <legend style="position:relative;">
                <span style="text-align:left;">
                    <h3>
                        Post Slide
                    </h3>
                </span>
                <span style="text-align:right; position:absolute; right:0; bottom:0;">
                    <h4>
                        <a href="#" class="btn-show-popup">Thêm mới</a>
                    </h4>
                </span>

            </legend>
        </fieldset>
        <form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Post_Id</th>
                        <th>Tbl_Id</th>
                        <th>Image_Title</th>
                        <th>Image_URL</th>
                        <th>Image_Link</th>
                        <th>Image_Order</th>
                        <th>Enable</th>
                        <th>Language</th>
                    </tr>
                </thead>
                <tr dir-paginate='i in Item | itemsPerPage:5'>
                    <td>{{a.Post_Id}}</td>
                    <td>{{a.Tbl_Id}}</td>
                    <td>{{a.Image_Title}}</td>
                    <td>{{a.Image_URL}}</td>
                    <td>
                        {{a.Image_Link}}
                    </td>
                    <td>{{a.Image_Order}}</td>
                    <td>
                        <input type="checkbox" ng-model="a.Enable" value="{{a.Enable}}" disabled />
                    </td>
                    <td>{{a.Language}}</td>
                    <td>
                        <a href='#' class="btn-edit" ng-click="getDetail(a.Post_Id)">Sửa</a>&nbsp;
                        <a href="#" ng-click="delete(a.Post_Id)">Xóa</a>

                </tr>
                <tr>
                    <td>
                        <input type="button" value="Reload" ng-click="allData()" />
                    </td>
                </tr>
            </table>
        </form>
        <div class="container" style="max-width:500px;">
            <div class="alert alert-noti-success">
                <h3 class="alert-add-success" style="color:#fff;">
                    Thêm thành công
                </h3>
                <h3 class="alert-update-success" style="color:#fff;">
                    Sửa thành công
                </h3>

            </div>
        </div>

        <div class="container" style="max-width:500px;">
            <div class="alert alert-delete-success" style="text-align:center; background:#13cb71;display:none; position:fixed; top:50%; left:50%; transform:translate(-50%,-50%);">
                <h3 style="color:#fff;">
                    Xóa thành công
                </h3>
            </div>
        </div>
    </div>

    <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
</section>

<script src="~/Scripts/dirPagination.js"></script>
<script src="~/Scripts/jquery/dialog.js"></script>
@section JavaScript{

    <script src="~/Scripts/Controller/Post_Slide/AllSlide.js"></script>
    @*<script src="~/Scripts/Controller/Post_Slide/UpdateDeleteSlide.js"></script>
        <script src="~/Scripts/Controller/Post_Slide/ThemSlide.js"></script>*@
}

