
@{
    /**/
    ViewBag.Title = "Index";
}

@section jsFooter{
    <script>
        $(document).ready(function () {
            $('#btnselect').on('click', function (e) {
                e.preventDefault();
                var finder = new CKFinder();

                finder.selectActionFunction = function (url) {
                    $('#txtPost_content').val(url);
                };
                finder.popup();

            })

        })


    </script>
}



<section class="container">
    <div id="content" ng-controller="PostSlide">

        <a href="/Post_Slide/ThemSlide">Thêm mới</a>
        <fieldset>
            <legend style="position:relative;">
                <span style="text-align:left;">
                    <h3>
                        Post Slide
                    </h3>
                </span>
                <span style="text-align:right; position:absolute; right:0; bottom:0;">
                    <h4>
                        <a href="#" class="btn-show-popup">Thêm mới</a>
                    </h4>
                </span>

            </legend>
        </fieldset>
        <form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Post_Id</th>
                        <th>Tbl_Id</th>
                        <th>Image_Title</th>
                        <th>Image_URL</th>
                        <th>Image_Link</th>
                        <th>Image_Order</th>
                        <th>Enable</th>
                        <th>Language</th>
                    </tr>
                </thead>
                <tr ng-repeat="a in ListSlide">
                    <td>{{a.Post_Id}}</td>
                    <td>{{a.Tbl_Id}}</td>
                    <td>{{a.Image_Title}}</td>
                    <td>{{a.Image_URL}}</td>
                    <td>{{a.Image_Link}}</td>
                    <td>{{a.Image_Order}}</td>
                    <td>{{a.Enable}}</td>
                    <td>{{a.Meta_Key}}</td>
                    <td>
                        <a href='/Post_Slide/Edit/{{a.Post_Id}}' ng-click="getDetail(a.Post_Id)">Sửa</a>&nbsp;
                        <input type="button" value="Xóa" ng-click="delete(a)" />

                </tr>
                <tr>
                    <td>
                        <input type="button" value="Reload" ng-click="allData()" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</section>

@Html.Partial("~/Views/Post_Slide/popupPostSlide.cshtml")
<script src="~/Scripts/jquery/dialog.js"></script>
@section JavaScript{

    <script src="~/Scripts/Controller/Post_Slide/AllSlide.js"></script>
    <script src="~/Scripts/Controller/Post_Slide/UpdateDeleteSlide.js"></script>
    <script src="~/Scripts/Controller/Post_Slide/ThemSlide.js"></script>
}

