
@{
    ViewBag.Title = "Index";
}
<div id="content" ng-controller="PostSlide">

    <a href="/Post_Slide/ThemSlide">Thêm mới</a>
    <h1></h1>
    <form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Post_Id</th>
                    <th>Tbl_Id</th>
                    <th>Image_Title</th>
                    <th>Image_URL</th>
                    <th>Image_Link</th>
                    <th>Image_Order</th>
                    <th>Enable</th>
                    <th>Language</th>
                </tr>
            </thead>
            <tr ng-repeat="a in ListSlide">
                <td>{{a.Post_Id}}</td>
                <td>{{a.Tbl_Id}}</td>
                <td>{{a.Image_Title}}</td>
                <td>{{a.Image_URL}}</td>
                <td>{{a.Image_Link}}</td>
                <td>{{a.Image_Order}}</td>
                <td>{{a.Enable}}</td>
                <td>{{a.Meta_Key}}</td>
                <td>
                    <a href='/Menu/Edit/{{a.Post_Id}}'>Sửa</a>&nbsp;
                    <input type="button" value="Xóa" ng-click="delete(a)" />

            </tr>
            <tr>
                <td>

                    <input type="button" value="Reload" ng-click="allData()" />
                </td>
            </tr>
        </table>
    </form>
</div>

@section JavaScript{

    
<script src="~/Scripts/Controller/Post_Slide/AllSlide.js"></script>
}




