
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h1></h1>
<form>
    <div ng-controller="CBCtrl">
        @*Order By: <select ng-model="sort">
         <option value="">--Chọn--</option>       
            <option value="Create_date">Ngày Viết</option>
        </select>*@
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><a ng-click="SortingBy('CHAT_ID')">Chat_Id</a></th>
                    <th><a ng-click="SortingBy('REQUEST_NAME')">Request_Name</a></th>
                    <th><a ng-click="SortingBy('REQUEST_PHONE')">Request_Phone</a></th>
                    <th>Request_Content</th>
                    <th><a ng-click="SortingBy('UNREAD')">Unread</a></th>
                    <th><a ng-click="SortingBy('CREATE_DATE')">Create_date</a></th>
                </tr>
            </thead>
            <tr ng-repeat="a in data ">
                <td>{{a.Chat_Id}}</td>
                <td>{{a.Request_Name}}</td>
                <td>{{a.Request_Phone}}</td>
                <td>{{a.Request_Content}}</td>
                <td>{{a.Unread}}</td>
                <td>{{a.Create_date|date: 'dd-MMM-yyyy'}}</td>

                <td>
                    <input type="checkbox" ng-model="a.Unread" ng-change="check()" />

            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
        <ul class="pager">
            <li class="page-item"><a class="page-link" href="#" ng-click="onStart()">Start</a></li>
            <li class="page-item"><a class="page-link" href="#" ng-click="onPrevious()">Previous</a></li>
            <ul class="pagination" ng-repeat="item in Paging">
                <li class="page-item"  ng-class="item.disable"><a  class="page-link" href="#" ng-click="onPage(item.pageIndex)">{{item.pageIndex + 1}}</a></li>
            </ul>

            <li class="page-item"><a class="page-link" href="#" ng-click="onNext()">Next</a></li>
            <li class="page-item"><a class="page-link" href="#" ng-click="onEnd()">End</a></li>
        </ul>
    </div>
</form>


@section JavaScript{


    <script src="~/Scripts/Controller/chatbox/chatboxCtrl.js"></script>
}



