
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Index";
}

<section class="container">
    <h3 class="title-page">Danh sách lời nhắn của khách hàng</h3>

    <form>
        <div ng-controller="CBCtrl">
            @*Order By: <select ng-model="sort">
                 <option value="">--Chọn--</option>
                    <option value="Create_date">Ngày Viết</option>
                </select>*@
            <table class="table-wrapper table-bordered table-hover container">
                <tr class="title-name-column">
                    <th>STT</th>
                    <th ng-click="sort('Request_Name')">
                        Họ tên
                        <i class="fa fa-angle-down" ng-show="updown" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" ng-hide="updown" aria-hidden="true"></i>
                    </th>
                    <th ng-click="sort('Request_Phone')">
                        Số điện thoại
                        <i class="fa fa-angle-down" ng-show="updown" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" ng-hide="updown" aria-hidden="true"></i>
                    </th>
                    <th class="lbl-content">
                        Nội dung
                    </th>
                    <th ng-click="sort('Create_date')">
                        Ngày nhận
                        <i class="fa fa-angle-down" ng-show="updown" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" ng-hide="updown" aria-hidden="true"></i>
                    </th>
                    <th ng-click="sort('Read_date')">
                        Ngày đọc
                        <i class="fa fa-angle-down" ng-show="updown" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" ng-hide="updown" aria-hidden="true"></i>
                    </th>
                    <th ng-click="sort('Unread')">
                        Duyệt
                        <i class="fa fa-angle-down" ng-show="updown" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" ng-hide="updown" aria-hidden="true"></i>
                    </th>

                </tr>
                <tr dir-paginate="item in data | itemsPerPage:5 | orderBy : sortColumn:reserveSort">
                    <td>{{$index}} {{a}}</td>
                    <td>{{item.Request_Name}}</td>
                    <td>{{item.Request_Phone}}</td>
                    <td>{{item.Request_Content}}</td>
                    <td>{{item.Create_date |mydate| date:"dd/MM/yyyy"}}</td>
                    <td ng-if="item.Read_date != null">

                        {{item.Read_date |mydate| date:"dd/MM/yyyy"}}
                    </td>
                    <td ng-if="item.Read_date == null"></td>
                    <td style="position:relative;">
                        <div ng-show="item.Unread == false">
                            <div class="turn">
                                <div class="turn-on" ng-hide="item.Unread">

                                </div>
                            </div>
                            <input type="checkbox" ng-model="item.Unread" class="check-read" ng-disabled="true" />
                        </div>

                        <div ng-show="item.Unread == true">
                            <div class="turn">
                                <div class="turn-on" ng-hide="item.Unread">

                                </div>
                            </div>
                            <input type="checkbox" ng-model="item.Unread" class="check-read" ng-click="update(item.Chat_Id,item.Unread)" ng-disabled="false" />                          
                        </div>

                    </td>
                  

                </tr>
            </table>


        </div>
    </form>

    <dir-pagination-controls boundary-links="true"></dir-pagination-controls>


</section>

<script src="~/Scripts/dirPagination.js"></script>

@section JavaScript{


    <script src="~/Scripts/Controller/chatbox/chatboxCtrl.js"></script>
}



