

@media only screen and (max-width:767px) {
    /* CHAT BOX*/
    .chat-box-wrapper {
        width: 300px;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .title-chat-box-wrapper {
        display: grid;
        grid-template-columns: 80% 20%;
    }
}

.header-top-mobile {
    display: none;
}

@media only screen and (max-width : 992px) {
    .header-top-desktop {
        display: none;
    }

    .header-top-mobile {
        display: block;
    }


    .logo-acc-mb {
        display: grid;
        grid-template-columns: 50% 50%;
    }


    .call-to-action {
        text-align: center;
    }

        .call-to-action h1 {
            font-size: 3em;
        }

    .topbar-right {

    }

    .user-acc-box-mb {
        text-align:right;
    }

    .lang-support {
        text-align:left;
    }

    div.lang-select{
        width:85px;
    }

    .slogan-mb .slogan h1{
        font-size:2.5em;
    }
}
@media only screen and (max-width : 500px) {
     .call-to-action h1 {
            font-size: 2.5em;
        }


@media only screen and (max-width : 992px) {
    #box-search {
        display: none;
    }

    .hero-slide .carousel-caption {
        position: relative;
        top: -30px;
        right: 0;
        left: 0;
        text-align: center;
        text-shadow: none;
        width: 100%;
    }
    /* FILTER*/

    .breadcrumb-mb {
        display: block;
    }

    .breadcrumb {
        display: none;
    }

    .sortby-wrapper.breadcrumb-wrapper {
        display: grid;
        grid-template-columns: 100%;
        padding: 10px;
    }

    .breadcrumb-wrapper {
        display: none;
    }

    .sort-by-wrapper {
        padding-top: 5px;
        text-align: center;
        padding-right: 0;
    }


    /*  PRODUCT*/
    .details-product.product {
        border: 1px solid #eee;
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        margin-top: 30px;
        box-shadow: 1px 1px 1px 1px #eee;
        margin-bottom: 20px;
    }

    .img-product-wrapper img {
        height: 200px;
        width: 100%;
    }

    .infor-product-wrapper {
        padding-top: 10px;
        height: 300px;
    }

    .state-product {
        width: 40%;
    }




    .footer-widget {
        margin-bottom: 50px;
    }

    /*HOME PAGE*/
    .feature-section,
    .feature-section h2,
    .feature-section h3 {
        color: #fff;
    }

        .feature-section:before {
            width: 100% !important;
        }

        .feature-section .feature-content {
            margin-left: 0;
        }

    #service-carousel {
        padding-bottom: 100px;
    }

    .service-wrap .service-content:first-child {
        margin-bottom: 50px;
    }




    /*SERVICE PAGE*/

    .featured-service-wrap .featured-service {
        margin-bottom: 20px;
    }

    .sidebar-wrapper {
        margin-top: 50px;
    }

    .fleets-wrap .section-heading,
    .section-heading {
        width: 50%;
    }
}

@media only screen and (max-width : 479px) {

    .section-heading .section-title {
        font-size: 30px;
        line-height: 45px;
    }
    /*HOME PAGE*/
}

/* Landscape Mobile */
@media only screen and (min-width : 480px) and (max-width : 767px) {
}



/* Desktops and laptops */
@media only screen and (min-width : 1224px) {
}

@media only screen and (min-width : 992px) {

    .service-wrap .slider-control {
        top: 0;
    }
}

/* Large devices (large desktops) */
@media (min-width: 1200px) {
}


@media (max-width: 800px) {
    #slideshow-maps {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }

    .search-button.visible-xs {
        display: block;
    }

    #maps {
        padding: 20px;
    }
}
