
/* Logo page*/
#img-logo-page {
    height: 110px;
    width: 130px;
    display: block;
    margin-left: 70px;
}

@media only screen and (max-width:992px) {
    #img-logo-page {
        height: 110px;
        width: 130px;
        display: block;
        position: relative;
        left: 20%;
        transform: translate(-50%);
    }
}


@media only screen and (max-width:500px) {
    #img-logo-page {
        height: 100px;
        width: 120px;
        position: static;
    }
}
/*
    SLIDE - SEARCHBOX
 *  HERO SLIDER
 *-------------------------------------*/
#slide-boxsearch {
    position: relative;
}


#box-search {
    width: 20%;
    position: absolute;
    top: 20px;
    right: 82px;
    padding: 30px 0px;
}

.txt-search {
    outline: none;
    border: none;
    border-radius: 30px;
    z-index: 1;
    width: 100%;
    padding-left: 3%;
}

.work-time {
    margin-top: 20px;
    text-align: center;
    color: #fff;
}

.hero-slide img {
    min-width: 100%;
}

.hero-slide .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.hero-slide .carousel-caption {
    position: relative;
    right: 0;
    left: 0;
    text-align: left;
    text-shadow: none;
    width: 60%;
}

    .hero-slide .carousel-caption small {
        font-size: 13px;
        color: #1a8ae1;
        font-weight: 500;
        animation-delay: 1s;
    }

    .hero-slide .carousel-caption .phone {
        font-size: 20px;
        color: #ff5722;
        -webkit-animation-delay: 100ms;
        animation-delay: 100ms;
    }

    .hero-slide .carousel-caption h1 {
        font-size: 56px;
        line-height: 1;
        font-weight: bold;
        text-transform: capitalize;
        margin: 30px 0 20px;
        -webkit-animation-delay: 150ms;
        animation-delay: 150ms;
        color: #f50707;
    }

    .hero-slide .carousel-caption .lead {
        font-size: 24px;
        color: #ff5722;
        font-weight: normal;
        margin-bottom: 30px;
        -webkit-animation-delay: 200ms;
        animation-delay: 200ms;
    }

    .hero-slide .carousel-caption .btn {
        -webkit-animation-delay: 250ms;
        animation-delay: 250ms;
        background: #1a8ae1;
        color: #fff;
        padding: 10px;
        font-size: 15px;
    }

        .hero-slide .carousel-caption .btn:hover {
            background: #fff;
            color: #333;
        }

.carousel-inner.slide-img {
    height: 400px;
}

    .carousel-inner.slide-img .item img {
        height: 400px;
    }
/* Slider Controller */
.hero-slide .carousel-control.left,
.hero-slide .carousel-control.right {
    font-size: 30px;
    width: 30px;
    height: 100px;
    line-height: 100px;
    top: 50%;
    background: #000000;
    cursor: pointer;
    border: 0;
    text-shadow: none;
    transform: translateY(-50%);
}

.hero-slide .carousel-control.left {
    left: -100%;
}

.hero-slide .carousel-control.right {
    right: -100%;
}

.hero-slide:hover .left {
    left: 0;
}

.hero-slide:hover .right {
    right: 0;
}

/* Slider Indicator*/
.hero-slide .carousel-indicators li {
    border: 2px solid rgba(0, 0, 0, .5);
    opacity: .5;
}

    .hero-slide .carousel-indicators li.active {
        border-color: #ff5722;
        background-color: #ff5722;
        opacity: 1;
    }
.toggle-form-search{
    position:relative;
}
    .toggle-form-search .title-search {
        height: 30px;
        width: 100%;
        color: #000;
        cursor: pointer;
        text-align: center;
    }
        .toggle-form-search .title-search span {
            border-radius:30px;
            position: absolute;
            height: 30px;
            width: 100px;
            left: 50%;
            background: #fff;
            transform: translate(-50%);
            font-weight: 700;
            cursor: pointer;
        }


.wrapper-select {
    display: none;
    margin-top: 5px;
}

.search-cbb {
    height: 30px;
    outline: none;
    border: none;
    border-radius: 30px;
    z-index: 1;
    width: 100%;
    padding-left: 3%;
}

.phone-contact {
    color: #fff;
    position: relative;
}
    .phone-contact span {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

.wrapper-btn-search-dt{
    text-align:left;
}
button.btn.btn-search-dt {
    padding: 3px 20px;
    font-size: 14px;
    border-radius: 30px;
    font-weight: 300;
    background: #1a8ae1;
    color:#fff;
}

    button.btn.btn-search-dt:hover {
        background: #0252d0;
    }
    /*Media Query*/
    @media (max-width : 1024px) {
        .hero-slide .carousel-caption h1 {
        font-size: 3em;
        margin-top: 10px;
    }

    .hero-slide .carousel-caption .lead {
        font-size: 16px;
    }

    .hero-slide .carousel-caption .btn {
        font-size: 12px;
    }

    .hero-slide .carousel-caption .phone {
        font-size: 18px;
    }

    .hero-slide .carousel-caption small {
        font-size: 11px;
    }

    .hero-slide .carousel-caption {
        padding: 40px 0;
    }
}

@media only screen and (max-width : 830px) {
    .carousel-inner.slide-img {
        height: 400px;
    }
}

@media only screen and (max-width : 768px) {
    .carousel-inner.slide-img {
        height: 330px;
    }
}

@media only screen and (max-width : 600px) {
    .carousel-inner.slide-img {
        height: 280px;
    }
}

@media only screen and (max-width : 435px) {
    .carousel-inner.slide-img {
        height: 215px;
    }
}



@media (max-width : 768px) {
    .hero-slide .container {
        top: 40%;
    }

    .hero-slide .carousel-caption h1 {
        font-size: 2em;
        margin-top: 10px;
    }

    .hero-slide .carousel-caption .lead {
        font-size: 14px;
    }

    .hero-slide .carousel-caption .phone {
        font-size: 16px;
        line-height: 1;
    }

    .hero-slide .carousel-caption small {
        font-size: 10px;
    }

    .hero-slide .carousel-caption .btn {
        font-size: 12px;
    }
}

@media (max-width : 600px) {
    .carousel-indicators {
        display: none;
    }

    .hero-slide .carousel-caption {
        width: 100%;
        text-align: center;
        padding: 30px;
    }

        .hero-slide .carousel-caption .lead {
            margin-bottom: 10px;
        }

        .hero-slide .carousel-caption .btn {
            font-size: 10px;
            padding: 5px 10px;
            border-width: 1px;
        }
}

@media (max-width : 436px) {
    .hero-slide .container {
        top: 30%;
    }
}

@media (max-width : 320px) {
    .hero-slide {
        display: none;
    }
}




/*------------------------------------------------------------------
OUR SERVICES SECTION
--------------------------------------------------------------------- */
.service-wrap {
    overflow: hidden;
    background: #fff;
    z-index: 0;
}

    .service-wrap .section-heading {
        margin-bottom: 30px;
    }

        .service-wrap .section-heading h2 {
            color: #fff;
        }

    .service-wrap .section-sub {
        font-size: 18px;
        font-weight: 400;
        color: rgba(255,255,255,.8);
    }

        .service-wrap .section-sub::after {
            background-color: #fff;
            left: 0;
            margin-left: 0;
        }

.service-left-box {
    position: relative;
    padding: 80px 60px 80px 0;
    color: #fff;
}

    .service-left-box:before {
        position: absolute;
        content: "";
        width: 300%;
        height: 100%;
        background: #1a8ae1;
        top: 0;
        right: 25px;
        z-index: -1;
    }

    .service-left-box .service-intro p {
        line-height: 35px;
    }

#service-carousel {
    padding: 150px 0;
}

.service-content h3 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}

    .service-content h3 span {
        font-size: 24px;
        color: #bcbcbc;
    }

.service-content .service-thumb {
    margin-bottom: 20px;
}

    .service-content .service-thumb img {
        width: 100%;
    }

.service-content p {
    line-height: 35px;
}

.service-content a {
    margin-top: 30px;
}

    .service-content a i {
        margin-left: 5px;
    }



.fleets-wrap {
    top: -28px;
    background: #fff;
}

    .fleets-wrap .section-heading {
        margin: 0 0 35px;
    }

    .fleets-wrap .no-padding {
        margin: 0 -15px;
    }

    .fleets-wrap .owl-stage-outer {
        border-bottom: 1px solid #eee;
    }

    .fleets-wrap .owl-item {
        margin: 0 !important;
    }

        .fleets-wrap .owl-item .owl-item-thumb {
            position: relative;
        }

            .fleets-wrap .owl-item .owl-item-thumb .owl-item-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                opacity: 0;
                background: #6b64f3;
            }

            .fleets-wrap .owl-item .owl-item-thumb a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
            }

.img-thumb-wrapper {
    position: relative;
}

    .img-thumb-wrapper .img-link img {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
    }

.fleets-wrap .owl-item .owl-item-thumb a img {
    height: 40px;
    width: auto !important;
    opacity: 0;
}



.fleets-wrap .owl-item .owl-item-thumb .owl-item-overlay,
.fleets-wrap .owl-item .owl-item-thumb a img {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.fleets-wrap .owl-item .owl-item-thumb:hover .owl-item-overlay {
    opacity: 0.9;
}

.fleets-wrap .owl-item .owl-item-thumb:hover a img {
    opacity: 1;
}

.fleets-wrap .owl-item .owl-tem-content {
    border-right: 1px solid #ebebeb;
    box-sizing: border-box;
    padding: 30px;
}

    .fleets-wrap .owl-item .owl-tem-content h3 {
        font-size: 16px;
        line-height: 24px;
    }

        .fleets-wrap .owl-item .owl-tem-content h3 a {
            color: #343434;
        }

            .fleets-wrap .owl-item .owl-tem-content h3 a:hover {
                color: #1a8ae1;
            }


.fleets-img-control {
    position: relative;
}


.fleet-carousel .item {
    border-left: 1px solid #fff;
}


.fleet-carousel-navigation {
    position: relative;
    z-index: 1000;
}


    .fleet-carousel-navigation .left {
        position: absolute;
        left: 0px;
        top: -19.5em;
    }

    .fleet-carousel-navigation .right {
        position: absolute;
        right: 0px;
        top: -19.5em;
    }
/* wrapper image homepage */

.wrapper-img-homepage {
    margin-top: -26px;
    height: 600px;
    margin-bottom: 27px;
}

    .wrapper-img-homepage div img {
        height: 600px;
        width: 100%;
    }

@media only screen and (max-width:900px) {
    .wrapper-img-homepage {
        margin-top: -26px;
        height: 400px;
        margin-bottom: 27px;
    }

        .wrapper-img-homepage div img {
            height: 400px;
            width: 100%;
        }
}

@media only screen and (max-width:600px) {
    .wrapper-img-homepage {
        margin-top: -26px;
        height: 300px;
        margin-bottom: 27px;
    }

        .wrapper-img-homepage div img {
            height: 300px;
            width: 100%;
        }
}
/* ------------------------------------------------------------------
TESTIMONIAL
--------------------------------------------------------------------- */
.testimonial-wrap {
    top: -25px;
    background: #fff;
    margin-bottom: -52px;
    height: 430px;
}

    .testimonial-wrap .section-heading {
        margin-bottom: 20px;
    }



.details-product-wrap .section-heading {
    margin-bottom: 40px;
}


.details-product-wrap span {
    color: #343434;
    font-weight: 500;
}


#slideshow-maps {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

#myCarousel {
    height: 100%;
}

#maps {
}

#slideshow-fb {
    position: relative;
}

#slideshow-fb {
    margin-right: 2px;
}

.slideshow-fb-img .item img {
    width: 100%;
    height: 430px;
}

#maps, #slideshow-fb {
    height: 430px;
}

    #slideshow-fb .section-heading, #maps .section-heading {
        margin-left: 20px;
    }



.title-feedback {
    top: 50%;
    left: 50%;
    text-align: center;
    position: absolute;
    z-index: 1000;
    transform: translate(-50%,50%);
    color: #fff;
}

    .title-feedback span {
        font-size: 20px;
        font-weight: 500;
    }







/* PAGE PRODUCT*/

.sortby-wrapper.breadcrumb-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
}

.breadcrumb-wrapper {
    padding-top: 5px;
    width: 100%;
    background-color: #f5f5f5;
}

    .breadcrumb-wrapper span {
        display: block;
    }

.sort-by-wrapper {
    padding-top: 5px;
    text-align: right;
    padding-right: 15%;
}

    .sort-by-wrapper select {
        padding: 5px;
        width: 30%;
        border: none;
        border-bottom: 1px solid #d4d2d2;
        outline: none;
        text-transform: uppercase;
        cursor: pointer;
    }

.breadcrumb {
    color: #888;
    width: 100%;
}

.breadcrumb-mb {
    display: none;
}

    .breadcrumb-mb span {
        color: #fff;
    }

        .breadcrumb-mb span a:hover {
            color: #333;
        }


/* MAIN PRODUCT*/

#main-product {
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
}

.details-product.product {
    border: 1px solid #eee;
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    margin-top: 30px;
    box-shadow: 1px 1px 1px 1px #eee;
    margin-bottom: 20px;
}


.img-product-wrapper {
    border-right: 1px solid #000;
}

    .img-product-wrapper img {
        height: 300px;
        width: 100%;
    }

.infor-product-wrapper, .img-product-wrapper {
    padding: 0;
}

.infor-product-wrapper {
    padding-left: 30px;
    position: relative;
}

.infor-product {
    position: relative;
}

a.link-detail:hover{
    text-decoration:underline;
}

.action-product {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}

.btn-edit, .btn-remove {
    border-radius: 0px;
    padding: 5px;
    font-size: 1em;
    background: none;
    outline: none;
    border: none;
    text-align: right;
}

._state-product {
    text-align: center;
    width: 30%;
    border: 1px solid #eee;
}

.state-product {
    right: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
    background: red;
    width: 30%;
    float: right;
    border: 1px solid #eee;
}

    .state-product span, ._state-product span {
        color: #fff;
        font-weight: 500;
        text-shadow: 2px red;
    }




/* PAGE DETAILS PRODUCT*/
.img-thumb {
    position: relative;
    padding: 0;
}

.slide-img-product {
    position: absolute;
    bottom: 0;
}

.slide-img-product {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

    .slide-img-product div {
        height: 100px;
    }

        .slide-img-product div:nth-child(odd) {
            position: relative;
            opacity: .9;
        }

        .slide-img-product div img {
            width: 100%;
            height: 100px;
        }

        .slide-img-product div .arrow {
            width: 20px;
            height: 30px;
            position: absolute;
            top: 36%;
            z-index: 1;
            color: transparent;
            text-align: center;
            cursor: pointer;
            transition: .5s;
        }

        .slide-img-product div .arrow-right {
            right: 0;
        }

        .slide-img-product div:nth-child(odd):hover i {
            color: #fff;
        }


.infor-details-pro {
    border: 1px solid #eee;
    height: 568px;
    position: relative;
}

.state-detail-product {
    position: absolute;
    bottom: 0;
    right: 0;
}


    .state-detail-product button {
        border-radius: 0px;
        background: red;
        color: #fff;
        font-weight: 500;
    }

        .state-detail-product button:hover {
            color: #fee;
        }
._state-detail-product button {
    border-radius: 0px;
    background: #16693C;
    color: #fff;
    font-weight: 500;
}

    ._state-detail-product button:hover {
        background: #049445;
        color: #fff;
    }



/*PAGE INFOR USER*/
#page-infor-user {
    width: 100%;
}

.infor-user-wrapper {
    padding: 10px;
    border: 1px solid #eee;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.avatar-user {
    position: relative;
    height: 300px;
}

.ic-update-avatar-wrapper {
    position: absolute;
    top: 6px;
    right: 20px;
}

    .ic-update-avatar-wrapper .btn-update-avatar {
        border-radius: 3px;
        outline: none;
        cursor: pointer;
        border: none;
        background: #fff;
        opacity: .8;
    }

.avatar-user img {
    width: 100%;
    height: 200px;
}

.infor-user {
    padding-left: 20px;
}

    .infor-user div {
        font-size: 18px;
    }

.infor-user-intro {
    border-right: 1px solid #eee;
    position: relative;
}

.btn-update-infor-wrapper {
    position: absolute;
    top: 55px;
    right: 15px;
}

.btn-update-infor {
    border: 1px solid #eee;
    outline: none;
    background: #fbf9f9;
}

.item-infor div.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

    .item-infor div.form-group label {
        margin-top: 6px;
    }

    .item-infor div.form-group .form-control {
        border: 1px solid #eee;
    }

 .btn-group {
    margin-left: 28%;
}

.item-infor .btn-group .btn, .item-pass .btn-group .btn {
    border-radius: 5px;
}

.item-infor .btn-group .btn-back, .item-pass .btn-group .btn-back {
    margin-left: 5px;
}

.item-pass div.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

    .item-pass div.form-group label {
        margin-top: 6px;
    }

.box-message {
    margin-top: 50px;
}
/*PAGE UPDATE INFOR USER*/
.page-update-user-wrapper .container {
    background: #eee;
    max-width: 60%;
}

.page-update-user-wrapper .row .form-group {
    padding: 20px;
    border: 1px solid #eee;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .page-update-user-wrapper .row .form-group label {
        font-size: 20px;
    }

.btn-update-infor-user {
    background: #1b5bf2;
    color: #fff;
    transition: .4s;
}

    .btn-update-infor-user:hover {
        background: #091be0;
        color: #fff;
    }



/* PAGE ABOUT US*/
.about-us-wrapper {
    margin-top: 30px;
    margin-bottom: 20px;
}

    .about-us-wrapper .row {
        padding: 10px;
        color: #fff;
        margin-top: 20px;
        border: 1px solid #eee;
        border-radius: 10px;
        background: url('../../Media/images/ecodream1521048550-1521281656.jpg') no-repeat 100%;
        background-size: 100% 100%;
    }

        .about-us-wrapper .row div h2 {
            color: #fff;
        }

.des-tn-wrapper {
    margin-bottom: 20px;
}

.title-intro {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* TAM NHIN*/
.tn-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
}


/* CHAT BOX*/

.chat-box-wrapper {
    position: fixed;
    bottom: 0;
    right: 80px;
    width: 400px;
    background: #eee;
    z-index: 1000;
}

    .chat-box-wrapper .row {
        margin: 0;
    }

.title-chat-box-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 3px;
    background: #1a8ae1;
    color: #fff;
    padding: 5px;
}

.message-box {
    padding: 10px;
    display: none;
}

    .message-box div.form-group {
        margin-bottom: 10px;
    }

        .message-box div.form-group input {
            height: 35px;
        }

        .message-box div.form-group textarea {
            height: 60px;
        }

.btn-submit-ms {
    padding: 5px 10px;
    background: #1a8ae1;
    color: #fff;
}

    .btn-submit-ms:hover {
        background: #1c3aef;
        color: #fff;
    }

.turn {
    border: 1px solid #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    height: 20px;
    width: 50px;
    border-radius: 10px;
    
    
}
.turn-on {
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #d71515;
    display: block;
    transition: all linear 0.2s;
}
.turn .ng-hide:not(.ng-hide-animate) {
    display: block !important;
}
.turn .ng-hide {
    cursor: pointer;
    height: 20px;
    width: 50px;
    background: #0ddb95;
    border-radius: 10px;
    transition: all linear 0.2s;
}

.check-read {
    top: 32.9%;
    left: 46.5%;
    position: absolute;
    transform: scale(4.1,1.89);
    opacity: 0;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1000;
}


/* PAGE ADD NEW PRODUCT*/
.page-add-product .container {
    background: #eee;
    max-width: 800px;
}

.page-add-product .row .form-group {
    padding: 20px;
    border: 1px solid #eee;
    margin: 0;
}

    .page-add-product .row .form-group label {
        font-size: 20px;
    }

    .page-add-product .row .form-group textarea {
        height: 100px;
    }


/* PAGE SIGN IN & SIGN UP*/
.form-signin-user .form-group, .form-signup-user .form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-signin-user div h2, .form-signup-user div h2 {
    text-align: center;
}

.form-signin-user .form-group .form-control, .form-signup-user .form-group .form-control {
    background: #f5f5ed;
    font-size: 1em;
}

.form-signin-user .form-group .btn-signin,
.form-signup-user .form-group .btn-signup {
    background: #1b5bf2;
    color: #fff;
    transition: .4s;
}

    .form-signin-user .form-group .btn-signin:hover,
    .form-signup-user .form-group .btn-signup:hover {
        background: #091be0;
        color: #fff;
    }

.box-dialog {
    position: fixed;
    background: #fff;
    z-index: 1000;
    left: 50%;
    top: -150%;
    transform: translate(-50%,-50%);
}

.active-hide {
    display: none;
}

.box-dialog-keyframes {
    display: block;
    opacity: 1;
    animation: dropdown 2s ease forwards;
}

/* keyframes*/
@keyframes dropdown {
    0% {
        opacity: 0;
    }

    25% {
        opacity: .3;
    }

    50% {
        opacity: .8;
    }

    75% {
        opacity: .9;
        top: 55%;
    }

    100% {
        opacity: 1;
        top: 50%;
    }
}

.box-dialog.page-login-box .container {
    max-width: 600px;
}

.btn-close {
    position: absolute;
    top: 0;
    right: -50px;
}

button#btn-close {
    outline: none;
    background: none;
    border: none;
}

    button#btn-close i {
        font-size: 15px;
        transition: .3s;
    }

        button#btn-close i:hover {
            color: #000000;
        }

.form-signin-user {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
}

    .form-signin-user div.form-group {
        position: relative;
    }

div .alert.alert-danger {
    display: none;
    position: relative;
    width: 150px;
    top: 11px;
    right: 0;
    z-index: 10000;
}

.alert-username, .alert-password {
    display: none;
}

.alert-active {
    display: block;
}





/*POPUP*/
.popup-box {
  
    height: 600px;
    position: fixed;
    background: #fff;
    z-index: 1000;
    left: 50%;
    top: -230%;
    transform: translate(-50%,-50%);
    overflow: auto;
    background: #eee;
}

.title-add, .title-update, .title-details {
    margin: 20px;
}

.popup-box .row .form-group {
    padding-left: 20px;
    border: 1px solid #eee;
    margin: 20px 0px;
}

.popup-box .row {
    padding-bottom: 20px;
    margin: 0px;
}

    .popup-box .row .form-group {
    }

        .popup-box .row .form-group .col-sm-6 {
            padding-left: 0px;
        }

        .popup-box.row .form-group textarea.form-control {
            height: 100px;
        }


.btn-close {
    right: 8px;
    position: fixed;
    z-index: 10000;
    top: 2px;
    display: block;
}


.alert-noti-success {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10000;
    display: none;
    color: #fff;
    background: #04c443;
}

.alert-add-success, .alert-update-success {
    display: none;
    color: #fff;
}

.alert-noti-error {
    position: relative;
    top: 10px;
    display: none;
}

.btn-disable {
    opacity: .5;
    cursor: no-drop;
}







/* PAGE DETAIL CONTRACT*/
.page-detail-contract {
    margin-bottom: 20px;
}

.detail-contract .row {
    border-bottom: 1px solid #eee;
    padding: 20px;
}

.user-profile-detail {
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 20px;
}

    .user-profile-detail img {
        height: 300px;
        width: 300px;
    }

.infor-customer-detail {
    font-size: 16px;
}

.item-detail-contract {
    margin-top: 20px;
    margin-bottom: 20px;
}

    .item-detail-contract .col-sm-4 {
    }



/* PAGE LIST ORDER*/
.wrapper-item-order {
    border: 1px solid #eee;
    margin-bottom: 30px;
}

.wrapper-item-order-header {
    border-bottom: 1px solid #eee;
}

.wrapper-item-order-header {
    display: grid;
    grid-template-columns: 50% 50%;
}

.link-item-detail {
    position: relative;
    text-align: right;
}

    .link-item-detail a {
        position: absolute;
        top: 10px;
        right: 0;
    }


.wrapper-item-order-content {
    padding: 10px;
    text-align: center;
}

    .wrapper-item-order-content .col-sm-3 {
        padding-top: 20px;
    }


/* TABLE*/
.container {
    padding-right: 0px;
    padding-left: 0px;
}

table {
   
}

.table-wrapper.container {
    padding-right: 0px;
    padding-left: 0px;
}

.table-wrapper {
    width: 1170px;
}


.title-name-column {
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.table-wrapper tr th {
    cursor: pointer;
    color: #2b2b2e;
    text-align: center;
}

.lbl-content {
    width: 400px;
}

.table-wrapper tr th, .table-wrapper tr td {
    padding: 10px;
}



.tr-add-data {
    display: none;
}



    .tr-add-data td .form-control, .tr-show-data td .form-control {
        border: 1px solid rgba(0, 0, 0, .5);
    }

.action-add-wrapper {
    position: relative;
    width: 100px;
}
.btn-create-data-item {
    padding: 5px 35px;
    background: none;
    border: none;
}

.btn-close-wrapper-add-data {
    position: absolute;
    top: 12px;
    right: 0;
}
#btn-close.btn-close-wrapper-add-data i {
    font-size: 30px;
}

._btn i {
    font-size: 30px;
}

    ._btn i:hover{
        color:#000;
    }
    /* PAGINATION*/
    .pagination-wrapper-page {
        position: relative;
    }

.pagination-wrapper {
    position: absolute;
    right: 66px;
}

.pagination {
    margin: 0;
    position: relative;
    top: 12px;
}

.pager li > a.page-item-link {
    padding: 0px 20px;
    border-radius: 5px;
}

/* icon action  */

.icon-action {
    border: none;
    background: none;
    padding: 13px 5px;
    margin-right: 2px;
}

    .icon-action i {
        font-size: 20px;
    }

.title-page {
    text-align: center;
    margin: 10px 0;
}
