
<div class="img-preload" id="img-preload" style="background:#c4c0c0;position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); display:block;">
    <img src="~/Content/images/ng-loader.gif" />
</div>
