
@{
    ViewBag.Title = "Thêm sản phẩm dịch vụ";
}
@Html.Partial("~/Views/Shared/pages/page_title_section/page_title_section.cshtml")
@Html.Partial("~/Views/Shared/pages/breadcrumb/breadcrumb.cshtml")

<div class="page-add-product container" style="max-width:60%;">
    <div class="row form-horizontal">
        <div class="form-group">
            <label>Tên sản phẩm hoặc dịch vụ</label>
            <input type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>Mục thêm</label>
            <select class="form-control"  style="width:150px;">
                <option value="">Mục thêm</option>
                <option value="SP">Sản phẩm</option>
                <option value="DV">Dịch vụ</option>
            </select>
        </div>
        <div  class="form-group">
            <label>Miêu tả</label>
            <textarea class="form-control">

            </textarea>
        </div>
        <div  class="form-group">
            <label>Từ khóa</label>
            <textarea class="form-control"></textarea>
        </div>
        <div  class="form-group">
            <label>Ngôn ngữ</label>
            <select class="form-control" style="width:150px;">
                <option value="">Chọn ngôn ngữ</option>
                <option value="VI">Việt nam</option>
                <option value="EN">English</option>
            </select>
        </div>
        <div class="form-group" style="border:0px;">
           <button type="button" class="btn btn-add btn-success">Thêm mới</button>
        </div>
    </div>
</div>

