
@{
    ViewBag.Title = "details";
}


@Html.Partial("~/Views/Shared/pages/page_title_section/page_title_section.cshtml")

<div class="breadcrumb-wrapper">
    <span>
        <a href="#">Trang chủ </a>
        &nbsp;
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        &nbsp;
        Chi tiết
    </span>
</div>
<section class="details-product-wrap section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="img-thumb col-sm-12">
                    <img class="img-responsive col-sm-12" src="~/Media/images/about-thumb.jpg" alt="thumb">

                    <div class="col-sm-12 slide-img-product">
                        <div>
                            <img src="~/Media/images/featurebg.png" class="img-thumbnail" alt="">
                            <div class="arrow arrow-left">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div>
                            <img src="~/Media/images/counterbg3.png" class="img-thumbnail" alt="">
                        </div>
                        <div>
                            <img src="~/Media/images/featurebg.png" class="img-thumbnail" alt="">
                            <div class="arrow arrow-right">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- /.col -->

            <div class="col-sm-7 infor-details-pro">
                <div>

                    <div>
                        <span>Mã sản phẩm :</span>
                        #456546456
                    </div>
                    <div>
                        <h2>
                            <span>Tên sản phẩm :</span>
                            Tên sản phẩm
                        </h2>

                    </div>

                    <div>
                        <span style="font-size: 20px;">
                            300.000 vnd
                        </span>
                    </div>
                    <div style="margin-bottom: 5px;">
                        <span>
                            Đánh giá
                        </span>
                    </div>
                    <div>
                        <h4>
                            <span>Mô tả:</span>
                            Thông tin miêu tả sản phẩm
                        </h4>
                    </div>
                </div>
                <div class="state-detail-product">
                    <button type="button" class="btn">
                        Đăng ký thuê nhà
                    </button>
                </div>

            </div>

        </div><!--/.details-product-wrap-content  -->

    </div><!--/.col-->

</section>

