


<section>

    <div class="container" style="max-width:500px;">
        <div class="alert alert-noti-success">
            <h3 class="alert-add-success">
                Thêm thành công
            </h3>
            <h3 class="alert-update-success">
                Sửa thành công
            </h3>
        </div>
    </div>


    <div class="container popup-box " style="max-width:60%;">
        <div>
            <h2 class="title-add">
                Thêm mới
            </h2>
            <h2 class="title-update" style="display:none;">
                Sửa thông tin
            </h2>
        </div>

        <div class="row form-horizontal">
            <div class="btn-close btn-close-popup" style="right:8px;">
                <button id="btn-close"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
            </div>
            <div class="form-group">
                <label>Họ tên</label>
                <input type="text" class="form-control txt-name" ng-model="Item.Item_Name" value="{{Item.Item_Name}}" />
                <span class="alert alert-danger alert-noti-error">
                    Họ tên không được để trống!
                </span>
            </div>
            <div class="form-group">
                <div class="form-group col-sm-4">
                    <label>Số điện thoại</label>
                    <input type="number" class="form-control txt-name" ng-model="Item.Customer_Phone" value="{{Item.Customer_Phone}}" />
                </div>

                <div class="form-group  col-sm-4">
                    <label>Địa chỉ</label>
                    <div>
                     
                        <select class="form-control" style="width:150px;">
                            <option value="">Chọn địa chỉ</option>
                            <option value="HN">Hà nội</option>
                            <option value="TPHCM">TP Hồ Chí Minh</option>
                        </select>
                        <span class="alert alert-danger alert-null-error-cate" style="display:none; position:relative; top:8px; width:150px; padding: 12px;">
                            Chọn mục cần thêm
                        </span>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label>Ngày đăng ký</label>
                   <input type="date" />
                    <span class="alert alert-danger alert-null-error-lang" style="display:none; position:relative; top:8px; width:150px;padding: 12px;">
                        Chọn ngôn ngữ cần thêm
                    </span>
                </div>
            </div>


            <div class="form-group">
                <label>Miêu tả</label>
                <textarea class="form-control" ng-model="Item.Meta_Desc" value="{{Item.Meta_Desc}}">{{Item.Meta_Desc}}</textarea>

            </div>
            <div class="form-group">
                <label>Từ khóa</label>
                <textarea class="form-control" ng-model="Item.Meta_Key">{{Item.Meta_Key}}</textarea>
            </div>
            <div class="form-group">
                <label>Nội dung</label>
                <textarea class="form-control" ng-model="Item.Item_Content">{{Item.Item_Content}}</textarea>
            </div>

            <div class="form-group" style="border:0px;">
                <button type="button" ng-click="Create(Item)" class="btn btn-add btn-success">Thêm mới</button>
                @*<button type="button" ng-click="CreateNewServices(Item)" class="btn btn-add btn-success">Thêm mới dichj vuj</button>*@
                <button type="button" ng-click="update(Item)" class="btn btn-update btn-success">Update</button>
            </div>
        </div>
    </div>
</section>