


<section>

    <div class="container" style="max-width:500px;">
        <div class="alert alert-noti-success">
            <h3 class="alert-add-success">
                Thêm thành công
            </h3>
            <h3 class="alert-update-success">
                Sửa thành công
            </h3>
        </div>
    </div>


    <div class="container popup-box " style="max-width:60%;" ng-app="ProductCtrl">
        <div>
            <h2 class="title-add">
                Thêm mới
            </h2>
            <h2 class="title-update" style="display:none;">
                Sửa thông tin
            </h2>
        </div>

        <div class="row form-horizontal">
            <div class="btn-close btn-close-popup" style="right:8px;">
                <button id="btn-close"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
            </div>
            <div class="form-group">
                <label>Họ tên</label>
                <input type="text" class="form-control txt-name" ng-model="user.cus_name" />
                <span class="alert alert-danger alert-noti-error">
                    Họ tên không được để trống!
                </span>
            </div>
            <div class="form-group">
                <div class="form-group col-sm-4">
                    <label>Số điện thoại</label>
                    <input type="number" class="form-control txt-name" ng-model="user.cus_phone" />
                </div>
            </div>

            <div class="form-group" style="border:0px;">
                <button type="button" ng-click="CreateUser(user)" class="btn btn-add btn-success">Thêm mới</button>
                @*<button type="button" ng-click="CreateNewServices(Item)" class="btn btn-add btn-success">Thêm mới dichj vuj</button>*@
                <button type="button" ng-click="update(Item)" class="btn btn-update btn-success">Update</button>
            </div>
        </div>
    </div>
</section>
@section JavaScript{

<script src="~/Scripts/Controller/Product/product.js"></script>
    
}


