


<section>

    <div class="container" style="max-width:500px;">
        <div class="alert alert-noti-success">
            <h3 class="alert-add-success">
                Thêm thành công
            </h3>
            <h3 class="alert-update-success">
                Sửa thành công
            </h3>
        </div>
    </div>


    <div class="container popup-box " style="max-width:60%;">
        <div>
            <h2 class="title-add">
                Thêm mới
            </h2>
            <h2 class="title-update" style="display:none;">
                Sửa thông tin
            </h2>
        </div>

        <div class="row form-horizontal">
            <div class="btn-close btn-close-popup" style="right:8px;">
                <button id="btn-close"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
            </div>
            <div class="form-group">
                <label>Tên sản phẩm hoặc dịch vụ</label>
                <input type="text" class="form-control txt-name" ng-model="Item.Item_Name" value="{{Item.Item_Name}}" />
                <span class="alert alert-danger alert-noti-error">
                    Tên sản phẩm hoặc dịch vụ không được để trống!
                </span>
            </div>
            <div class="form-group">
                <div class="form-group col-sm-4">
                    <label>Enable</label>
                    <div ng-if="Item.Enable === true">
                        <input type="checkbox" ng-model="Item.Enable" checked value="{{Item.Enable}}" />
                    </div>
                    <div ng-if="Item.Enable === false">
                        <input type="checkbox" ng-model="Item.Enable" value="{{Item.Enable}}" />
                    </div>
                </div>

                <div class="form-group  col-sm-4">
                    <label>Mục thêm</label>
                    <div>
                        <div ng-if="Item.Item_Type === 'SP'">
                            <select class="form-control  select-category" ng-model="Item.Item_Type" style="width:150px;">
                                <option value="SP">Sản phẩm</option>
                            </select>
                        </div>
                        <div ng-if="Item.Item_Type === 'DV'">
                            <select class="form-control  select-category" ng-model="Item.Item_Type" style="width:150px;">
                                <option value="DV">Dịch vụ</option>
                            </select>
                        </div>

                        <div ng-if="Item.Item_Type == null">
                            <select class="form-control  select-category select-category-sp" ng-model="Item.Item_Type" style="width:150px;">
                                <option value="">
                                    Chọn mục thêm
                                </option>
                                <option value="SP">Sản phẩm</option>
                            </select>
                            <select class="form-control select-category select-category-dv" ng-model="Item.Item_Type" style="width:150px;">
                                <option value="">
                                    Chọn mục thêm
                                </option>
                                <option value="DV" selected class="option-dv">Dịch vụ</option>
                            </select>
                        </div>
                        <span class="alert alert-danger alert-null-error-cate" style="display:none; position:relative; top:8px; width:150px; padding: 12px;">
                            Chọn mục cần thêm
                        </span>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label>Ngôn ngữ</label>
                    <div ng-if="Item.Item_Type === 'VI'">
                        <select class="form-control select-lang" ng-model="Item.Language" style="width:150px;">
                            <option value="">Chọn ngôn ngữ</option>
                            <option selected value="VI">Việt nam</option>
                            <option value="EN">English</option>
                        </select>
                    </div>
                    <div ng-if="Item.Item_Type === 'EN'">
                        <select class="form-control select-lang" ng-model="Item.Language" style="width:150px;">
                            <option value="">Chọn ngôn ngữ</option>
                            <option value="VI">Việt nam</option>
                            <option selected value="EN">English</option>
                        </select>
                    </div>
                    <div ng-else>
                        <select class="form-control select-lang" ng-model="Item.Language" style="width:150px;">
                            <option value="">Chọn ngôn ngữ</option>
                            <option value="VI">Việt nam</option>
                            <option value="EN">English</option>
                        </select>
                    </div>
                    <span class="alert alert-danger alert-null-error-lang" style="display:none; position:relative; top:8px; width:150px;padding: 12px;">
                        Chọn ngôn ngữ cần thêm
                    </span>
                </div>
            </div>


            <div class="form-group">
                <label>Miêu tả</label>
                <textarea class="form-control" ng-model="Item.Meta_Desc" value="{{Item.Meta_Desc}}">{{Item.Meta_Desc}}</textarea>

            </div>
            <div class="form-group">
                <label>Từ khóa</label>
                <textarea class="form-control" ng-model="Item.Meta_Key">{{Item.Meta_Key}}</textarea>
            </div>
            <div class="form-group">
                <label>Nội dung</label>
                <textarea class="form-control" ng-model="Item.Item_Content">{{Item.Item_Content}}</textarea>
            </div>
            <div class="form-group">
                <label>Nội dung</label>
                <textarea class="form-control" id="Item_Content" name="Item_Content" ng-model="Item.Item_Content">{{Item.Item_Content}}</textarea>
                <span>{{Item.Item_Content}}</span>
          
            </div>

            <div class="form-group" style="border:0px;">
                <button type="button" ng-click="Create(Item)" class="btn btn-add btn-success">Thêm mới</button>
                @*<button type="button" ng-click="CreateNewServices(Item)" class="btn btn-add btn-success">Thêm mới dichj vuj</button>*@
                <button type="button" ng-click="update(Item)" class="btn btn-update btn-success">Update</button>
            </div>
        </div>
    </div>
</section>