
@{
    ViewBag.Title = "Danh sách dịch vụ";
}

@Html.Partial("~/Views/Product/popupProduct.cshtml")
@Html.Partial("~/Views/Shared/pages/page_title_section/page_title_section.cshtml")
<!--  FILTER -->
@{
    var userName = HttpContext.Current.User.Identity.Name;

    var roleId = Convert.ToInt32(Session["UserRole"]);
}


<section class="sortby-wrapper breadcrumb-wrapper">
    <div class="breadcrumb-wrapper">
        <span>
            <a href="/Home/Index">Trang chủ </a>
            &nbsp;
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            &nbsp;
            @ViewBag.Title
        </span>
    </div>
    <div class="sort-by-wrapper">
        <select name="" id="">
            <option value="">Sort by</option>
            <option value="">Loại phòng</option>
            <option value="">Khu vực</option>
            <option value="">Số phòng</option>
            <option value="">Diện tích</option>
            <option value="">Giá</option>
        </select>
    </div>

</section>
<!--  MAIN -->
<section id="main-product" ng-controller="ProductCtrl">


    @Html.Partial("~/Views/Product/popupProduct.cshtml")

    @* tạo vòng lặp
        show thông tin sản phẩm *@
    <fieldset>
        <legend style="position:relative;">
            <span style="text-align:left;">
                <h3>
                    Dịch vụ
                </h3>
            </span>

            @if (!String.IsNullOrEmpty(userName))
            {
                <span style="text-align:right; position:absolute; right:0; bottom:0;">
                    <h4>
                        <a href="#" class="btn-show-popup btn-add-service">Thêm mới</a>
                    </h4>
                </span>
            }
        </legend>
    </fieldset>

    <div class="details-product product" dir-paginate='i in ItemDV | itemsPerPage:5'>
        <div class="img-product-wrapper">
            <img src="~/Media/images/furniture.jpg" />
        </div>
        <div class="infor-product-wrapper">
            <div class="inror-product">
                <div>
                    <div class="col-sm-3">
                        <span>Mã Dịch Vụ :</span>
                        {{i.Item_Id}}
                    </div>
                    <div class="col-sm-9">
                        @if (!String.IsNullOrEmpty(userName))
                        {
                            <div ng-if="i.Enable === true" style="background:#13cb71;text-align:center; color:#fff; width:100px;">
                                <span>Enable : {{i.Enable}}</span>
                            </div>
                            <div ng-if="i.Enable === false" style="background:#ff0000; color:#fff;text-align:center;  width:100px;">
                                <span>Enable : {{i.Enable}}</span>
                            </div>
                        }
                    </div>
                </div>
                </br>
                <div>
                    <h2>
                        <span>Tên Dịch vụ :</span>
                        {{i.Item_Name}}
                    </h2>
                </div>
                <div>
                    <h4>
                        <span>Mô tả:</span>
                        {{i.Meta_Desc}}
                    </h4>
                </div>
                @if (!String.IsNullOrEmpty(userName))
                {
                    <div class="action-product">
                        <div>
                            <a class="btn btn-edit" ng-href="#" ng-click="getDetails(i.Item_Id)"><i class="fa fa-edit"></i></a>
                        </div>
                        <div>
                            <button class="btn btn-remove" ng-click="del(i)"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                }
            </div>
            <div class="state-product">
                <span>
                    Trạng thái: Đã thuê
                </span>
            </div>


        </div>
    </div>
    <dir-pagination-controls boundary-links="true"></dir-pagination-controls>


</section>

<script src="~/Scripts/jquery/dialog.js"></script>
@section JavaScript{

    <script src="~/Scripts/Controller/Product/product.js"></script>
}