@{
    ViewBag.Title = "Quản lý khách hàng thuê";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="container">
    <h3 class="title-page">
        Danh sách khách hàng đặt hàng
    </h3>

    <form>
        <div ng-controller="ProductCtrl">
            <table class="table-wrapper table-bordered table-hover container">
                <tr class="title-name-column">

                    <th  ng-click="sort('cus_name')">
                        Họ tên
                        <i class="fa fa-angle-down" ng-show="updown" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" ng-hide="updown" aria-hidden="true"></i>
                    </th>
                    <th  ng-click="sort('cus_phone')">
                        Số điện thoại
                        <i class="fa fa-angle-down" ng-show="updown" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" ng-hide="updown" aria-hidden="true"></i>
                    </th>
                    <th  ng-click="sort('Post_Id')">
                        Post_Id
                        <i class="fa fa-angle-down" ng-show="updown" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" ng-hide="updown" aria-hidden="true"></i>
                    </th>
                    <th  ng-click="sort('Post_Title')">
                        Tên Bài Viết
                        <i class="fa fa-angle-down" ng-show="updown" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" ng-hide="updown" aria-hidden="true"></i>
                    </th>
                    <th  ng-click="sort('Item_Id')">
                        Id Sản phẩm
                        <i class="fa fa-angle-down" ng-show="updown" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" ng-hide="updown" aria-hidden="true"></i>
                    </th>
                    <th  ng-click="sort('create_date')">
                        Ngày Đăng Ký
                        <i class="fa fa-angle-down" ng-show="updown" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" ng-hide="updown" aria-hidden="true"></i>
                    </th>
                    <th  ng-click="sort('read_date')">
                        Ngày Đọc
                        <i class="fa fa-angle-down" ng-show="updown" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" ng-hide="updown" aria-hidden="true"></i>
                    </th>
                    <th  ng-click="sort('unread')">
                        Duyệt
                        <i class="fa fa-angle-down" ng-show="updown" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" ng-hide="updown" aria-hidden="true"></i>
                    </th>
                <tr dir-paginate="item in ListKh | itemsPerPage:5 | orderBy : sortColumn:reserveSort">
                    <td>{{item.cus_name}}</td>
                    <td>{{item.cus_phone}}</td>
                    <td>{{item.Post_Id}}</td>
                    <td>{{item.Post_Title}}</td>
                    <td>{{item.Item_Id}}</td>
                    <td>{{item.create_date |mydate| date: 'dd-MM-yyyy'}}</td>
                    <td ng-if="item.read_date != null">

                        {{item.read_date |mydate| date:"dd/MM/yyyy"}}
                    </td>
                    <td ng-if="item.read_date == null"></td>

                    <td style="position:relative;">
                        <div ng-show="item.unread == false">
                            <div class="turn">
                                <div class="turn-on" ng-hide="item.unread">

                                </div>
                            </div>
                            <input type="checkbox" ng-model="item.unread" class="check-read" ng-disabled="true" />
                        </div>

                        <div ng-show="item.unread == true">
                            <div class="turn">
                                <div class="turn-on" ng-hide="item.unread">

                                </div>
                            </div>
                            <input type="checkbox" ng-model="item.unread" class="check-read" ng-click="updateUnread(item.message_id,item.unread)" ng-disabled="false" />
                        </div>
                    </td>
                </tr>
            </table>


        </div>
    </form>
    <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
</section>

<script src="~/Scripts/dirPagination.js"></script>
@section JavaScript{
    <script src="~/Scripts/Controller/Product/product.js"></script>

}




