
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "LogOn";
}
@{

    var userName = HttpContext.Current.User.Identity.Name;

}
<div class="container">
    <div class="alert alert-info" style="height:200px; margin-bottom:-30px;text-align:center; position:relative;">
        @if (!String.IsNullOrEmpty(userName))
        {
            <div class="alert alert-success">
                <h4>
                    Đăng nhập thành công
                </h4>
            </div>
        }
        else
        {<div class="" style="position:absolute; top:50%; left: 50%; transform: translate(-50%,-50%);">
                <h4 style="font-weight:bold; font-size:19px;">
                    Bạn phải đăng nhập mới có thể thao tác hành động này!.
                </h4>
            </div>
        }
    </div>
</div>
