@{
    ViewBag.Title = "About";
}
<div class="container about-us">
    <div class="description-about-us-wrapper row">
        <div class="img-about img-thumbnail col-sm-4" >
            <img src="~/Media/images/client2.png" />
        </div>
        <div class="des-about-us col-sm-8">
            <h2>
                Dịch vụ tiện nghi
            </h2>
            <div>
                Một vài mô tả
            </div>
        </div>
    </div>
    <div class="description-about-us-wrapper row">
       
        <div class="des-about-us col-sm-8">
            <h2>
                Dịch vụ tiện nghi
            </h2>
            <div>
                Một vài mô tả
            </div>
        </div>
        <div class="img-about col-sm-4">
            <img src="~/Media/images/client2.png" class="img-circle" />
        </div>
    </div>
    <div class="description-about-us-wrapper row">
        <div class="img-about col-sm-4">
            <img src="~/Media/images/client2.png" class="img-rounded" />
        </div>
        <div class="des-about-us col-sm-8">
            <h2>
                Dịch vụ tiện nghi 
            </h2>
            <div>
                Một vài mô tả
            </div>
        </div>
    </div>
    


</div>