
@{
    ViewBag.Title = "Sự kiện";
}
@Html.Partial("~/Views/Shared/pages/page_title_section/page_title_section.cshtml")
@Html.Partial("~/Views/Shared/pages/breadcrumb/breadcrumb.cshtml")


<div class="container"  style="max-width:1000px;">
    <div class="event-wrapper">
        <div class="row" style="margin:30px 0;  border-bottom:1px solid #eee; padding-bottom:5px;">
            <div class="img-event col-sm-4">
                <img src="~/Media/images/images (3).jpg" class="img-rounded" style="height:300px;" />
            </div>
            <div class="event-infor  col-sm-8">
                <div>
                    <h3>
                        <span style="cursor:pointer; color:#1932f7;">
                            Sôi nổi mùa xuân với NeraHome
                        </span>
                    </h3>
                    <p>
                        Đến với sự kiện, các gia đình tại NeraHome đã được 
                        trải nghiệm một không khí Tết cổ truyền đúng nghĩa với những 
                        hoạt động đặc trưng của một ngày hội xuân truyền thống như cuộc
                         thi gói bánh chưng, bày mâm ngũ quả, bịt mắt đánh trống,
                         kéo co và nhảy bao bố. Phiên chợ xuân đậm chất Tết xưa cũng
                         góp phần tái hiện hình ảnh rộn ràng, náo nhiệt và nô nức 
                        của những ngày hội xuân dân dã xưa.
                    </p>
                </div>
            </div>
        </div>
        <div class="row"  style="margin:30px 0; border-bottom:1px solid #eee; padding-bottom:5px;">
            <div class="img-event col-sm-4">
                <img src="~/Media/images/images (3).jpg" class="img-rounded" style="height:300px;" />
            </div>
            <div class="event-infor  col-sm-8">
                <div>
                    <h3>
                        <span style="cursor:pointer; color:#1932f7;">
                           Tổ chức khu vui chơi cho cư dân của NeraHome
                        </span>
                    </h3>
                    <p>
                        Với khu vui chơi NeraHomes, lần đầu tiên, cư dân sẽ và được trải nghiệm một khu vui chơi lý tưởng,
                        hoàn toàn mới – nơi mang đến sự giải trí, tiếng cười đùa, và sự thoải mái mà mỗi cư dân NeraHome được 
                        trải nghiệm
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>