
@{
    ViewBag.Title = "Giới thiệu";
}

@Html.Partial("~/Views/Shared/pages/page_title_section/page_title_section.cshtml")
@Html.Partial("~/Views/Shared/pages/breadcrumb/breadcrumb.cshtml")

<div class="container" style="padding:40px;max-width:1000px;" >
    <div class="row">
        <p>
            NeraHome cung cấp đến khách hàng một tiêu chuẩn sống đẳng cấp vượt trội mới,
             đây là sự kết hợp hoàn chỉnh giữa bất động sản nhà ở và hệ thống dịch vụ 
            tiêu chuẩn cao tại những khu đô thị quy mô hàng đầu Việt Nam mang 
            đẳng cấp quốc tế do NeraHome đầu tư.
        </p>
        <p>
            Với tầm nhìn chiến lược và phát triển bền vững, mỗi khu đô thị trong hệ 
            thống NeraHome đều tọa lạc tại các vị trí trung tâm Hà Nội và thành phố
             Hồ Chí Minh, hội tụ những giá trị vượt trội: Sản phẩm nhà ở chất lượng 
            cao; Dịch vụ tại gia chuyên nghiệp; Môi trường sống xanh, sạch; Văn hóa
             cộng đồng nhân văn; An ninh – An toàn được đảm bảo; và Tiện ích đồng 
            bộ, đầy đủ.
        </p>
        <p>
            Thương hiệu NeraHome sẽ luôn là sự lựa chọn hoàn hảo cho quý vị.
        </p>
        <div class="container" style="max-width:80%;">
            <div style="margin-top:20px; margin-bottom:20px;">
                <img src="~/Media/images/nerahom.jpg" class="img-thumbnail" style="width:100%;" />
                <div style="text-align:center;">
                    <i>Góc nhìn mới lạ</i>
                </div>

            </div>
            <div style="margin-top:20px; margin-bottom:20px;">
                <img src="~/Media/images/Nerahome.jpg" class="img-thumbnail" style="width:100%;" />
                <div style="text-align:center;">
                    <i>Góc nhìn mới lạ</i>
                </div>
            </div>
            <div style="margin-top:20px; margin-bottom:20px;">
                <img src="~/Media/images/Nerahome3.jpg" class="img-thumbnail" style="width:100%;" />
                <div style="text-align:center;">
                    <i>Góc nhìn mới lạ</i>
                </div>
            </div>
        </div>
        
    </div>
</div>

