
@{
    ViewBag.Title = "Nhà đầu tư";
}

<div class="container">
    <div class="about-us-wrapper">
        <div class="row">
            <div class="img-about-wrapper col-sm-4">
                <img src="~/Media/images/client2.png" class="img-rounded" />
            </div>
            <div class="about-us-infor  col-sm-8">
                <div>
                    <h2>
                        Thông tin nhà đầu tư
                    </h2>
                    <p>
                        Với NeraHomes, lần đầu tiên, cư dân đã và đang được trải nghiệm một môi trường sống lý tưởng,
                        hoàn toàn mới – nơi hạnh phúc đến từ sự kết hợp hoàn chỉnh giữa tiện nghi sang trọng
                        và hệ thống dịch vụ tiêu chuẩn 5*, tạo dựng một cuộc sống hạnh phúc ngập tràn.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="about-us-infor col-sm-8">
                <div>
                    <h2>
                        Thông tin nhà đầu tư
                    </h2>
                    <p>
                        Với NeraHomes, lần đầu tiên, cư dân đã và đang được trải nghiệm một môi trường sống lý tưởng,
                        hoàn toàn mới – nơi hạnh phúc đến từ sự kết hợp hoàn chỉnh giữa tiện nghi sang trọng
                        và hệ thống dịch vụ tiêu chuẩn 5*, tạo dựng một cuộc sống hạnh phúc ngập tràn.
                    </p>
                </div>
            </div>
            <div class="img-about-wrapper col-sm-4">
                <img src="~/Media/images/client2.png" class="img-circle" />
            </div>
        </div>
        <div class="row">
            <div class="img-about-wrapper col-sm-4">
                <img src="~/Media/images/client2.png" class="img-thumbnail" />
            </div>
            <div class="about-us-infor  col-sm-8">
                <div>
                    <h2>
                        Thông tin nhà đầu tư
                    </h2>
                    <p>
                        Với NeraHomes, lần đầu tiên, cư dân đã và đang được trải nghiệm một môi trường sống lý tưởng,
                        hoàn toàn mới – nơi hạnh phúc đến từ sự kết hợp hoàn chỉnh giữa tiện nghi sang trọng
                        và hệ thống dịch vụ tiêu chuẩn 5*, tạo dựng một cuộc sống hạnh phúc ngập tràn.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

