
@{
    ViewBag.Title = "Nhà đầu tư";
}
@Html.Partial("~/Views/Shared/pages/page_title_section/page_title_section.cshtml")
@Html.Partial("~/Views/Shared/pages/breadcrumb/breadcrumb.cshtml")
<div class="container"  style="max-width:1000px;">
    <div class="bussinesser" style="color:#fff;">
        <div class="row"  style="background:#136ed0; margin:30px 0;">
            <div class="img-about-wrapper col-sm-4">
                <img src="~/Media/images/dongtho1520798742-1521281539.jpg" style="height:300px;" class="img-rounded" />
            </div>
            <div class="bussinesser-infor  col-sm-8">
                <div>
                    <h2 style="color:#fff;">
                        Thông tin nhà đầu tư
                    </h2>
                    <p>
                        Với NeraHomes, lần đầu tiên, cư dân đã và đang được trải nghiệm một môi trường sống lý tưởng,
                        hoàn toàn mới – nơi hạnh phúc đến từ sự kết hợp hoàn chỉnh giữa tiện nghi sang trọng
                        và hệ thống dịch vụ tiêu chuẩn 5*, tạo dựng một cuộc sống hạnh phúc ngập tràn.
                    </p>
                </div>
            </div>
        </div>
        <div class="row"  style="background:#136ed0; margin:30px 0;">
            <div class="bussinesser-infor col-sm-8">
                <div>
                    <h2 style="color:#fff;">
                        Thông tin nhà đầu tư
                    </h2>
                    <p>
                        Với NeraHomes, lần đầu tiên, cư dân đã và đang được trải nghiệm một môi trường sống lý tưởng,
                        hoàn toàn mới – nơi hạnh phúc đến từ sự kết hợp hoàn chỉnh giữa tiện nghi sang trọng
                        và hệ thống dịch vụ tiêu chuẩn 5*, tạo dựng một cuộc sống hạnh phúc ngập tràn.
                    </p>
                </div>
            </div>
            <div class="img-about-wrapper col-sm-4">
                <img src="~/Media/images/client2.png"  style="height:300px;" class="img-circle" />
            </div>
        </div>
        <div class="row"  style="background:#136ed0; margin:30px 0;">
            <div class="img-about-wrapper col-sm-4">
                <img src="~/Media/images/client2.png"  style="height:300px;" class="img-thumbnail" />
            </div>
            <div class="bussinesser-infor  col-sm-8">
                <div>
                    <h2 style="color:#fff;">
                        Thông tin nhà đầu tư
                    </h2>
                    <p>
                        Với NeraHomes, lần đầu tiên, cư dân đã và đang được trải nghiệm một môi trường sống lý tưởng,
                        hoàn toàn mới – nơi hạnh phúc đến từ sự kết hợp hoàn chỉnh giữa tiện nghi sang trọng
                        và hệ thống dịch vụ tiêu chuẩn 5*, tạo dựng một cuộc sống hạnh phúc ngập tràn.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

