
@{
    ViewBag.Title = "Dự án";
}

@Html.Partial("~/Views/Shared/pages/page_title_section/page_title_section.cshtml")
@Html.Partial("~/Views/Shared/pages/breadcrumb/breadcrumb.cshtml")
<div class="container"  style="max-width:1000px;">
    <div class="about-us-wrapper">
        <div class="row">
            <div class="img-about-wrapper col-sm-4">
                <img src="~/Media/images/images (3).jpg"  class="img-rounded" style="height:300px;" />
            </div>
            <div class="about-us-infor  col-sm-8">
                <div>
                    <h2>
                       Dự án mới
                    </h2>
                    <p>
                        Với NeraHomes, lần đầu tiên, cư dân đã và đang được trải nghiệm một môi trường sống lý tưởng,
                        hoàn toàn mới – nơi hạnh phúc đến từ sự kết hợp hoàn chỉnh giữa tiện nghi sang trọng
                        và hệ thống dịch vụ tiêu chuẩn 5*, tạo dựng một cuộc sống hạnh phúc ngập tràn.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="about-us-infor col-sm-8">
                <div>
                    <h2>
                        Dự án mới
                    </h2>
                    <p>
                        Với NeraHomes, lần đầu tiên, cư dân đã và đang được trải nghiệm một môi trường sống lý tưởng,
                        hoàn toàn mới – nơi hạnh phúc đến từ sự kết hợp hoàn chỉnh giữa tiện nghi sang trọng
                        và hệ thống dịch vụ tiêu chuẩn 5*, tạo dựng một cuộc sống hạnh phúc ngập tràn.
                    </p>
                </div>
            </div>
            <div class="img-about-wrapper col-sm-4">
                <img src="~/Media/images/images (4).jpg" style="height:300px;" class="img-circle" />
            </div>
        </div>
        <div class="row">
            <div class="img-about-wrapper col-sm-4">
                <img src="~/Media/images/Nerahome.jpg" style="height:300px;" class="img-thumbnail" />
            </div>
            <div class="about-us-infor  col-sm-8">
                <div>
                    <h2>
                       Dự án mới
                    </h2>
                    <p>
                        Với NeraHomes, lần đầu tiên, cư dân đã và đang được trải nghiệm một môi trường sống lý tưởng,
                        hoàn toàn mới – nơi hạnh phúc đến từ sự kết hợp hoàn chỉnh giữa tiện nghi sang trọng
                        và hệ thống dịch vụ tiêu chuẩn 5*, tạo dựng một cuộc sống hạnh phúc ngập tràn.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

