
@{
    ViewBag.Title = "Tuyển dụng";
}

@Html.Partial("~/Views/Shared/pages/page_title_section/page_title_section.cshtml")
@Html.Partial("~/Views/Shared/pages/breadcrumb/breadcrumb.cshtml")

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <img src="~/Media/images/client1.png" />
            </div>
            <div class="col-sm-6">
                <img src="~/Media/images/client2.png" />
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 20px; margin-bottom:20px;">

            <div class="col-sm-6">
                <h2 style="font-size: 18px;">Yêu cầu công việc</h2>
                <span style="font-size: 13.3333px;">-&nbsp; Có bằng cấp và chứng chỉ chuyên môn phù hợp cho từng vị trí tuyển dụng</span>
                <div style="">
                    <font face="Arial, Verdana">
                        <span style="font-size: 13.3333px;">-&nbsp; Có ngoại hình ưa nhìn, chiều cao từ 1,55m trở lên đối với nữ và 1,7 m trở lên đối với nam</span>
                    </font>
                </div>
                <div style="">
                    <font face="Arial, Verdana">
                        <span style="font-size: 13.3333px;">- Tiếng Anh, Trung Quốc hoặc Hàn Quốc.</span>
                    </font>
                </div>
                <div style="">
                    <font face="Arial, Verdana">
                        <span style="font-size: 13.3333px;">-&nbsp; Chập nhận hồ sơ của sinh viên mới ra trường đã có thời gian thực tập tại khách sạn, Resort có tiêu chuẩn từ 3-5 sao trở thành nhân viên chính thức</span>
                    </font>
                </div>
                <div style="">
                    <font face="Arial, Verdana">
                        <span style="font-size: 13.3333px;">
                            <div>- Tối thiểu 3-5 năm kinh nghiệm làm ở vị trí tương đương trong các khách sạn – Resort 3-5 sao</div><div>- Có khả năng điều hành lên kế hoạch tổ chức, sắp xếp công việc</div>
                            <div>- Có thể làm việc độc lập hoặc theo nhóm</div>
                            <div>- Thông thạo ngoại ngữ : Tiếng Anh giao tiếp tốt ( ưu tiên tiếng Nhật bản, Hàn quốc, Trung Quốc) và kỹ năng sử dụng vi tính.</div><div>GIÁM SÁT VÀ TỔ TRƯỞNG</div><div>- Tối thiểu 2 năm kinh nghiệm làm ở vị trí tương đương trong các khách sạn – resort 3-5 sao</div><div>- Thông thạo ngoại ngữ: Tiếng anh giao tiếp</div>
                        </span>
                    </font>
                </div>
            </div>
            <div class="col-sm-6">
                <h2 style="font-size: 18px;">Yêu cầu hồ sơ</h2>
                <div style="">
                    <div style="font-size: 13.3333px;">
                        <span style="font-size: 13.3333px;">- Sơ yếu lý lịch có xác nhận của địa phương</span>
                    </div>
                    <div style="font-size: 13.3333px;">
                        <span style="font-size: 13.3333px;">- Giấy khám sức khỏe</span>
                    </div>
                    <div style="font-size: 13.3333px;">
                        <span style="font-size: 13.3333px;">- Giấy xác nhận dân sự có xác nhận của địa phương</span>
                    </div>
                    <div style="font-size: 13.3333px;">
                        <span style="font-size: 13.3333px;">- Bản sao các giấy tờ: CMTND/CCCD, giấy khai sinh, sổ hộ khẩu.</span>
                    </div>
                    <div style="font-size: 13.3333px;">
                        <font face="Arial, Verdana">- Bản sao: Bằng cấp, chứng chỉ chuyên môn</font>
                    </div>
                    <div style="font-size: 13.3333px;">
                        <font face="Arial, Verdana">- 02 ảnh 4x6</font>
                    </div>
                    <div style="font-size: 13.3333px;">
                        <font face="Arial, Verdana">&nbsp;</font>
                        <span style="font-size: 13.3333px;">LIÊN HỆ:</span>
                    </div>
                    <div style="font-size: 13.3333px;">
                        <font face="Arial, Verdana">Hồ sơ vui lòng gửi đến email: <a href="mailto:nhansu.tayho.damvac@gmail.com" rel="nofollow">Gửi email</a> / <a href="mailto:hrt@westlakevinhphuc.com" rel="nofollow">Gửi email</a></font>
                    </div>
                    <div style="font-size: 13.3333px;">
                        <font face="Arial, Verdana">hoặc nộp trực tiếp tại: văn phòng Westlake Hotel &amp; Resort Vĩnh Phúc (Công ty cổ phần xây dựng và phát triển hạ tầng Tây Hồ).&nbsp;</font>
                    </div>
                    <div style="font-size: 13.3333px;">
                        <span style="font-size: 13.3333px;">Địa chỉ: Đường Tô Ngọc Vân, phường tích sơn, thành phố Vĩnh Yên, Vĩnh Phúc.</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h2 style="font-size: 18px;">Mô tả công việc</h2>
                <p>
                    <span style="font-size: 13.3333px;">- Trao đổi công việc cụ thể khi phỏng vấn</span>
                </p>
            </div>
            <div class="col-sm-6">
                <h2 style="font-size: 18px;">Quyền lợi được hưởng</h2>
                <p>
                    <span style="font-size: 13.3333px;">- Mức lương rất cạnh tranh cho tất cả các vị trí</span>
                </p>
            </div>


        </div>
    </div>
</div>

