
@{
    ViewBag.Title = "tamnhin";
}

<div class="container">
    <div class="row" style="margin-top:20px;">
        <div class="img-tn col-sm-12">
            <img src="~/Media/images/featurebg.png" class="img-thumb" />
        </div>
        <div class="description-tn col-sm-12" style="margin-top:20px;">
            <div>
                <h2 style="text-align:center;">
                    Tầm nhìn năm 2030
                </h2>
            </div>
            <div>
                <p>
                    There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form, by injected humour,
                    or randomised words which don't look even slightly believable.
                    If you are going to use a passage of Lorem Ipsum, you need to
                    be sure there isn't anything embarrassing hidden in the middle of text.
                </p>
                <br />
                <p>
                    There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form, by injected humour,
                    or randomised words which don't look even slightly believable.
                    If you are going to use a passage of Lorem Ipsum, you need to
                    be sure there isn't anything embarrassing hidden in the middle of text.
                </p>
            </div>
        </div>
        <div class="description-tn-wrapper col-sm-12" style="margin-top:30px;">
            <div class="col-sm-4">
                <img src="~/Media/images/counterbg3.png" class="img-rounded" />
            </div>
            <div class="col-sm-8">
                <p>
                    Synergistically grow optimal total linkage after best-of-breed channels.
                    Continually redefine B2C methodologies after equity invested channels.
                    Dramatically drive just in time bandwidth rather than enterprise potentialities.
                    Credibly facilitate emerging niches whereas user-centric "outside the box" thinking.
                    Objectively deploy reliable communities vis-a-vis holistic web-readiness.
                    Objectively deploy reliable communities vis-a-vis holistic web-readiness.
                </p>
                <br />
                <p>
                    Synergistically grow optimal total linkage after best-of-breed channels.
                    Continually redefine B2C methodologies after equity invested channels.
                    Dramatically drive just in time bandwidth rather than enterprise potentialities.
                    Credibly facilitate emerging niches whereas user-centric "outside the box" thinking.
                    Objectively deploy reliable communities vis-a-vis holistic web-readiness.
                    Objectively deploy reliable communities vis-a-vis holistic web-readiness.
                </p>
            </div>
        </div>
        <div class="description-tn-wrapper col-sm-12" style="margin-top:30px; margin-bottom:20px;">
            
            <div class="col-sm-8">
                <p>
                    Synergistically grow optimal total linkage after best-of-breed channels.
                    Continually redefine B2C methodologies after equity invested channels.
                    Dramatically drive just in time bandwidth rather than enterprise potentialities.
                    Credibly facilitate emerging niches whereas user-centric "outside the box" thinking.
                    Objectively deploy reliable communities vis-a-vis holistic web-readiness.
                    Objectively deploy reliable communities vis-a-vis holistic web-readiness.
                </p>
                <p>
                    Synergistically grow optimal total linkage after best-of-breed channels.
                    Continually redefine B2C methodologies after equity invested channels.
                    Dramatically drive just in time bandwidth rather than enterprise potentialities.
                    Credibly facilitate emerging niches whereas user-centric "outside the box" thinking.
                    Objectively deploy reliable communities vis-a-vis holistic web-readiness.
                    Objectively deploy reliable communities vis-a-vis holistic web-readiness.
                </p>
            </div>
            <div class="col-sm-4">
                <img src="~/Media/images/counterbg3.png" class="img-circle" />
            </div>
        </div>
    </div>
</div>



