
@{
    ViewBag.Title = "Tin tức";
}

@Html.Partial("~/Views/Shared/pages/page_title_section/page_title_section.cshtml")
@Html.Partial("~/Views/Shared/pages/breadcrumb/breadcrumb.cshtml")
<div class="container"  style="max-width:1000px;">
    <div class="tn-wrapper">
        <div class="row">
            <div class="img-tn-wrapper col-sm-12">
                <img src="~/Media/images/Nerahome3.jpg" />
            </div>
            <div class="des-tn-wrapper col-sm-12">
                <div class="title-intro col-sm-12">
                    <div style="text-align:center;">
                        <h2>
                            TẦM NHÌN 2030
                        </h2>
                    </div>
                    <div>
                        <p>
                            Với NeraHomes, lần đầu tiên, cư dân đã và đang được trải nghiệm một môi trường sống lý tưởng,
                            hoàn toàn mới – nơi hạnh phúc đến từ sự kết hợp hoàn chỉnh giữa tiện nghi sang trọng
                            và hệ thống dịch vụ tiêu chuẩn 5*, tạo dựng một cuộc sống hạnh phúc ngập tràn.
                        </p>
                        <p>
                            Với NeraHomes, lần đầu tiên, cư dân đã và đang được trải nghiệm một môi trường sống lý tưởng,
                            hoàn toàn mới – nơi hạnh phúc đến từ sự kết hợp hoàn chỉnh giữa tiện nghi sang trọng
                            và hệ thống dịch vụ tiêu chuẩn 5*, tạo dựng một cuộc sống hạnh phúc ngập tràn.
                        </p>
                    </div>
                </div>
                <div class="des-tn-wrapper col-sm-12">
                    <div class="img-wrapper col-sm-4">
                        <img src="~/Media/images/images (1).jpg" />
                    </div>
                    <div class="infor-tn col-sm-8">
                        <div>
                            <p>
                                Với NeraHomes, lần đầu tiên, cư dân đã và đang được trải nghiệm một môi trường sống lý tưởng,
                                hoàn toàn mới – nơi hạnh phúc đến từ sự kết hợp hoàn chỉnh giữa tiện nghi sang trọng
                                và hệ thống dịch vụ tiêu chuẩn 5*, tạo dựng một cuộc sống hạnh phúc ngập tràn.
                            </p>
                            <p>
                                Với NeraHomes, lần đầu tiên, cư dân đã và đang được trải nghiệm một môi trường sống lý tưởng,
                                hoàn toàn mới – nơi hạnh phúc đến từ sự kết hợp hoàn chỉnh giữa tiện nghi sang trọng
                                và hệ thống dịch vụ tiêu chuẩn 5*, tạo dựng một cuộc sống hạnh phúc ngập tràn.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="des-tn-wrapper col-sm-12">

                    <div class="infor-tn col-sm-8">
                        <div>
                            <p>
                                Với NeraHomes, lần đầu tiên, cư dân đã và đang được trải nghiệm một môi trường sống lý tưởng,
                                hoàn toàn mới – nơi hạnh phúc đến từ sự kết hợp hoàn chỉnh giữa tiện nghi sang trọng
                                và hệ thống dịch vụ tiêu chuẩn 5*, tạo dựng một cuộc sống hạnh phúc ngập tràn.
                            </p>
                            <p>
                                Với NeraHomes, lần đầu tiên, cư dân đã và đang được trải nghiệm một môi trường sống lý tưởng,
                                hoàn toàn mới – nơi hạnh phúc đến từ sự kết hợp hoàn chỉnh giữa tiện nghi sang trọng
                                và hệ thống dịch vụ tiêu chuẩn 5*, tạo dựng một cuộc sống hạnh phúc ngập tràn.
                            </p>
                        </div>
                    </div>

                    <div class="img-wrapper col-sm-4">
                        <img src="~/Media/images/images.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

