
@{
    ViewBag.Title = "Tiện ích";
}

@Html.Partial("~/Views/Shared/pages/page_title_section/page_title_section.cshtml")
@Html.Partial("~/Views/Shared/pages/breadcrumb/breadcrumb.cshtml")

<div class="container" style="max-width:1000px;">
    <div class="event-wrapper">
        <div class="row">
            <p>
                Được xây dựng như một thành phố thu nhỏ, biệt lập và cao cấp,
                 NeraHome tạo nên diện mạo mới cho trung tâm thành phố Hồ Chí Minh, 
                xác lập nên một chuẩn mực khác biệt về phong cách sống cho cư dân thành thị.
            </p>
            <div class="img-event">
                <img src="~/Media/images/Nerahome3.jpg" style="height:300px; width:100%;" />
                <div style="text-align:center;">
                    <i>Hình chụp thực tế tại NeraHome</i>
                </div>
                
            </div>
            <br />
            <p>
                Căn căn hộ được xây dựng hài hòa với thiên nhiên,
                Nội thất căn hộ sang trọng, hiện đại, tạo cảm giác thoải mái an toàn cho người sử dụng.

            </p>
            <div class="img-event" style="margin-bottom:30px;">
                <img src="~/Media/images/noi_that_nerahome1.jpg" style="height:300px; width:100%;" />
                <div style="text-align:center;">
                    <i>Hình chụp thực tế tại NeraHome</i>
                </div>
            </div>
        </div>
       
    </div>
</div>

