
@{
    ViewBag.Title = "infor_user";
}
<section id="page-infor-user">
    <div class="infor-user-wrapper container">
        <div class="row">
            <div class="avatar-user col-sm-2">
                <div class="ic-update-avatar-wrapper">
                    <button type="button" class="btn-update-avatar">
                        <i class="fa fa-pencil"></i>
                    </button>

                </div>
                <img src="~/Media/images/about-thumb.jpg" class="img-thumbnail" alt="">
            </div>
            <div class="infor-user infor-user-intro col-sm-5">
                <fieldset>
                    <legend>
                        <h2>Giới thiệu</h2>
                    </legend>
                </fieldset>

                <div>
                    <span>
                        Họ tên : Nguyễn văn a
                    </span>
                </div>
                <div>
                    <span>
                        Ngày sinh: 2/2/1992
                    </span>
                </div>
                <div>
                    <span>
                        Giới tính : Nam
                    </span>
                </div>
                <div>
                    <span>
                        Số điện thoại : 0987654321
                    </span>
                </div>
                <div>
                    <span>
                        Địa chỉ : Hoàng mai, TP Hà Nội
                    </span>
                </div>
                <div>
                    <span>
                        Địa chỉ : Hoàng mai, TP Hà Nội
                    </span>
                </div>
                <div>
                    <span>
                        Tỉnh thành : TP Hà Nội
                    </span>
                </div>
                <div>
                    <span>
                        Số CMND : 123456789
                    </span>
                </div>
            </div>
            <div class="infor-user infor-user-acc col-sm-5">
                <fieldset>
                    <legend>
                        <h2>Tài khoản</h2>
                    </legend>
                </fieldset>
                <div>
                    <span>
                        Tên tài khoản : nguyenvana
                    </span>
                </div>
                <div>
                    <span>
                        Mật khẩu : <a href="#">Đổi mật khẩu</a>
                    </span>
                </div>
                <div>
                    <span>
                        Email: Nguyenvana@gmail.com
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div class="box-messge container">
        <div>
            <h4>
                Tin nhắn thông báo
            </h4>
        </div>
        <textarea rows="5" placeholder="Nhận tin nhấn của người quản trị hệ thống" readonly=""></textarea>
    </div>

</section>

