
<header class="header">
    <nav class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <div class="call-to-action">
                        <h1>
                            <a href="/Home/Index">
                                NeraHome
                            </a>
                           
                        </h1>
                    </div><!-- /.call-to-action -->
                </div><!-- /.col-sm-6 -->

                <div class="col-sm-6 col-xs-12">
                    <div class="logo text-center">
                        <h1>
                                <span>
                                    Khẩu hiệu website
                                </span>
                        </h1>
                    </div>
                </div>

                <div class="col-sm-3 hidden-xs">
                    <div class="topbar-right">
                        <div class="lang-support pull-right">
                            <select class="lang-select">
                           
                                <option value="vietnam" data-class="flag-vietnam">VietNam</option>
                                <option value="united-kingdom" data-class="flag-uk">English</option>
                            </select>
                        </div>

                        <div class="user-acc-box">
                            <a href="#" class="user-account">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </a>
                            <div class="user-panel">
                                <div class="user-links">
                                    <a class="user-link-item" href="/User/SignIn">Đăng nhập</a>
                                    <a class="user-link-item" href="/User/SignIn">Đăng ký</a>
                                    <a class="user-link-item" href="/User/user_infor">Trang cá nhân</a>
                                    <a class="user-link-item" href="#">Đăng xuất</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav><!-- /.top-bar -->

    <div class="container mainnav" ng-controller="MenuItemCtrl">

        <div class="navbar-header">

            <div id="search">
                <button type="button" class="close">×</button>
                <form>
                    <input type="search" value="" placeholder="type keyword(s) here" />
                    <button type="submit" class="btn btn-primary btn-lg">Tìm kiếm</button>
                </form>
            </div>
        </div>
        <nav class="navbar navbar-default" role="navigation">
            <span class="search-button visible-xs"><a href="#search"><i class="fa fa-search"></i></a></span>


            <button type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>


            <div class="collapse navbar-collapse navbar-collapse">

                <span class="search-button pull-right" style="display:none;"><a href="#search"><i class="fa fa-search"></i></a></span>

                <ul class="nav navbar-nav hidden-sm">
                    <li class="active"><a href="index.html">Giới thiệu</a></li>
                    <li class="dropdown">
                        <a href="#">Dự án <b class="caret"></b></a>
                        <!-- submenu-wrapper -->
                        <div class="submenu-wrapper submenu-wrapper-topbottom">
                            <div class="submenu-inner  submenu-inner-topbottom">
                                <ul class="dropdown-menu">
                                    <li><a href="#">Dự án 1</a></li>
                                    <li><a href="#">Dự án 2</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /submenu-wrapper -->
                    </li>

                    <!-- Services -->
                    <li class="dropdown">
                        <a href="#">Dịch vụ <b class="caret"></b></a>
                        <!-- submenu-wrapper -->
                        <div class="submenu-wrapper submenu-wrapper-topbottom">
                            <div class="submenu-inner  submenu-inner-topbottom">
                                <ul class="dropdown-menu">
                                    <li  ng-repeat="i in listDV"><a href="/Product/details">{{i.Item_Name}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /submenu-wrapper -->
                    </li>
                    <!-- /Services -->
                    <!-- Blog -->
                    <li><a href="#">Tiện ích</a> </li>
                    <!-- /Blog -->
                    <li><a href="#">Sự kiện</a></li>
                    <li><a href="/Home/Tamnhin">Tin tức </a></li>
                    <li><a href="/Home/Nha_dau_tu">Nhà đầu tư </a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->

        </nav>
    </div>

  
   
    
    <!-- /.container -->
</header>



