
@{
    ViewBag.Title = "Danh sách hợp đồng";
}

@Html.Partial("~/Views/Shared/pages/page_title_section/page_title_section.cshtml")

<section class="sortby-wrapper breadcrumb-wrapper">
    <div class="breadcrumb-wrapper">
        <span>
            <a href="/Home/Index">Trang chủ </a>
            &nbsp;
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            &nbsp;
            @ViewBag.Title
        </span>
    </div>

</section>
<section class="container">
    @Html.Partial("~/Views/Contract/popupContract.cshtml")
    <div class="page-list-price">
        <div class="list-price">
            <fieldset>
                <legend style="position:relative;">
                    <span style="text-align:left;">
                        <h3>
                            Hợp đồng khách hàng
                        </h3>
                    </span>
                    <span style="text-align:right; position:absolute; right:0; bottom:0;">
                        <h4>
                            <a href="#" class="btn-show-popup">Thêm mới</a>
                        </h4>
                    </span>

                </legend>

                <div class="row" style="border-bottom:1px solid #eee; margin-bottom:20px;  padding:20px;">
                    <div class="col-sm-3 user-profile" style="border-right:1px solid #eee;">
                        <img src="~/Media/images/client1.png" />
                    </div>
                    <div class="col-sm-7 infor-customer">
                        <div>
                            <span>Họ tên : <b>Nguyễn Văn A</b></span>
                        </div>
                        <div>
                            <span>Ngày sinh : <b>1/2/1984</b></span>
                        </div>
                        <div>
                            <span>Số chứng minh thư: <b>189523225</b></span>
                        </div>
                        <div>
                            <span>Ngày bắt đầu hợp đồng : <b>21/3/2018</b></span>
                        </div>
                        <div>
                            <span>Ngày kết thúc hợp đồng : <b>31/3/2018</b></span>
                        </div>
                    </div>
                    <div class="col-sm-2 link-item-details-contract" style="text-align:right;">
                        <a href="/Contract/detailContract">Xem chi tiết</a>
                    </div>
                </div>
                <div class="row" style="border-bottom:1px solid #eee; margin-bottom:20px; padding:20px;">
                    <div class="col-sm-3 user-profile" style="border-right:1px solid #eee;">
                        <img src="~/Media/images/client1.png" />
                    </div>
                    <div class="col-sm-7 infor-customer">
                        <div>
                            <span>Họ tên : <b>Nguyễn Văn A</b></span>
                        </div>
                        <div>
                            <span>Ngày sinh : <b>1/2/1984</b></span>
                        </div>
                        <div>
                            <span>Số chứng minh thư: <b>189523225</b></span>
                        </div>
                        <div>
                            <span>Ngày bắt đầu hợp đồng : <b>21/3/2018</b></span>
                        </div>
                        <div>
                            <span>Ngày kết thúc hợp đồng : <b>31/3/2018</b></span>
                        </div>
                    </div>
                    <div class="col-sm-2 link-item-details-contract" style="text-align:right; ">
                        <a href="/Contract/detailContract">Xem chi tiết</a>
                    </div>
                </div>
                <div class="row" style="border-bottom:1px solid #eee; margin-bottom:20px;  padding:20px;">
                    <div class="col-sm-3 user-profile" style="border-right:1px solid #eee;">
                        <img src="~/Media/images/client1.png" />
                    </div>
                    <div class="col-sm-7 infor-customer" ">
                        <div>
                            <span>Họ tên : <b>Nguyễn Văn A</b></span>
                        </div>
                        <div>
                            <span>Ngày sinh : <b>1/2/1984</b></span>
                        </div>
                        <div>
                            <span>Số chứng minh thư: <b>189523225</b></span>
                        </div>
                        <div>
                            <span>Ngày bắt đầu hợp đồng : <b>21/3/2018</b></span>
                        </div>
                        <div>
                            <span>Ngày kết thúc hợp đồng : <b>31/3/2018</b></span>
                        </div>
                    </div>
                    <div class="col-sm-2 link-item-details-contract" style="text-align:right;">
                        <a href="/Contract/detailContract">Xem chi tiết</a>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
</section>


<script src="~/Scripts/dirPagination.js"></script>
<script src="~/Scripts/jquery/dialog.js"></script>

