
@{
                /**/

                ViewBag.Title = "Create";
}



<h2>Create</h2>
<div id="content" ng-controller="BaiVietListController">
    <span ng-show="isViewLoading" class="viewLoading">
        <img src="~/Content/images/ng-loader.gif" /> loading...
    </span>
    <div ng-class="result">{{message}}</div>
    <hr />
    <input type="hidden" ng-model="Item.Post_Id" value="@ViewBag.Post_Id" />
    <input type="hidden" ng-model="Item.Create_By" />
    <input type="hidden" ng-model="Item.Create_Date" />
    <input type="hidden" ng-model="Item.Update_By" />
    <input type="hidden" ng-model="Item.Update_Date" />
    <h2>All BaiViets</h2>
    <table class="table table-striped">
        <tr>
            <td>Title</td>
            <td><input type="text" ng-model="Item.Post_Title" /></td>
            <td>Content</td>
            <td><input type="text" ng-model="Item.Post_Content" id="txtPost_content" /> <button id="btnselect">get anh</button></td>

        </tr>
        <tr>
            <td>Meta Desc</td>
            <td><input type="text" ng-model="Item.Meta_Desc"  id="txtContent"/></td>
            <td>Meta Key</td>
            <td><input type="text" ng-model="Item.Meta_Key" /></td>
        </tr>
        <tr>
            <td>Enable</td>
            <td><input type="checkbox" ng-model="Item.Enable" /></td>
            <td>Item ID</td>
            <td><input type="text" ng-model="Item.Item_ID" /></td>
        </tr>
        <tr>
            <td>Language</td>
            <td><input type="text" ng-model="Item.Language" /></td>
            <td></td>
            <td></td>
        </tr>

    </table>
    <input type="button" value="Save" ng-click="onSave()" />
</div>
@section JavaScript{

    <script src="~/Scripts/Controller/BaiViet/BaiVietInsertUpdate.js"></script>

}
