
@{
    ViewBag.Title = "Index";
}

<div id="content" ng-controller="BaiVietListController">
    <span ng-show="isViewLoading" class="viewLoading">
        <img src="~/Content/images/ng-loader.gif" /> loading...
    </span>
    <div ng-class="result">{{message}}</div>
    <hr />

    <h2>All BaiViet</h2>
    <a href="/BaiViet/Create">Thêm mới</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Post_Id</th>
                <th>Post_Title</th>
                <th>Post_Content</th>
                <th>Create_Date</th>
                <th>Enable</th>
                <th>Language</th>
                <th></th>
            </tr>
        </thead>
        <tr ng-repeat="custModel in ListBaiViet">
            <td>{{custModel.Post_Id}}</td>
            <td>{{custModel.Post_Title}}</td>
            <td>{{custModel.Post_Content}}</td>
            <td>{{custModel.Create_Date |mydate| date: 'dd-MMM-yyyy'}}</td>
            <td>{{custModel.Enable}}</td>
            <td>{{custModel.Language}}</td>
            <td><a href='/BaiViet/Create/{{custModel.Post_Id}}'>Sửa</a>&nbsp;
            <input type="button" value="Xóa" ng-click="onDelete(custModel)" />
            </td>
        </tr>
    </table>
    <input type="button" value="Reload" ng-click="getallData()" />
</div>

@section JavaScript{
<script src="~/Scripts/Controller/BaiViet/BaiVietListController.js"></script>


}
